[2016-10-26 11:30] FreederFree opened #1 "release plans?"
Are there any release plans for this? I would like to get a shop running until mid november including a payone integration. Since magento 2 has been release for almost one year now, i wondered why such an important payment extension is still missing?

[2016-10-26 11:32] FreederFree commented on #1
Just saw that it is on. Why is it only available if i'm logged in?

[2016-10-26 11:39] fjbender commented on #1
We just pushed it to GitHub today, since we still had some refactoring to do. Hope you can use this release for your project :)

[2016-10-26 11:41] FreederFree commented on #1
Oh nice, thank you! So I think I've got the right timing ;)

[2016-10-26 11:42] #1 closed

[2016-10-26 11:55] davidverholen opened #2 "list on packagist.org"
would it be possible to list the extension on https://packagist.org for easier installation? I see you already have an extension there. https://packagist.org/packages/payone-gmbh/

[2016-10-26 11:56] fjbender commented on #2
Yes, absolutely. I'm on this.

[2016-10-26 12:13] fjbender commented on #2
@davidverholen can you verify it's working now? Submitted the package to Packagist, but I'm unsure about real world usage: https://packagist.org/packages/payone-gmbh/magento-2

[2016-10-26 12:20] davidverholen commented on #2
the 1.2.2 release is not listed on packagist. I think it's because of the name change (that release still has the old composer name).

You could either create a new bugfix release (1.2.3), which would be semver compliant or create a patch release (for example 1.2.2-patch1).

Another possibility would be to delete the 1.2.2 release and recreate it on the last commit of the master branch. Normally,

[2016-10-26 12:40] fjbender commented on #2
@davidverholen pushed the v1.2.3 release which is being shown on Packagist now.

[2016-10-26 12:43] davidverholen opened #3 "magento 2.1 version constraints"
I just tried to install the dev-master version. There is a problem with installing it on magento 2.1.2.

Magento 2.1 requires magento/module-framework 100.1.2 and the payone module requires 100.0.*
Same problem for the magento/module-store extension.

To make it installable with magento 2.1 via composer (if 2.1 is supported) you have to change the constraints in the composer.json

for example:

[c

[2016-10-26 12:44] davidverholen commented on #2
thank you very much, this should be it. I just found another issue installing it on magento 2.1 (if 2.1 is supported already)

[2016-10-26 12:44] #2 closed

[2016-10-26 13:13] fjbender commented on #3
Added the ^ operator. Will tag next release as soon as we have something substancial to add... ;)

[2016-10-26 13:13] #3 closed

[2016-11-04 13:44] grasdaggel opened #4 "Undifined Index on Checkout, Magento 2.0.4"
We've installed your module on a Magento 2.0.4 system. When we're trying to access the checkout we get an error:

[code]

[2016-11-04 14:03] fjbender commented on #4
@grasdaggel do you have a hosted iFrame styling configuration in the database? What does

[code]
return?

Thanks,
Florian

[2016-11-04 14:34] grasdaggel commented on #4
It returns nothing. That said, we didn't modified the modules settings because we just wanted to have it installed in the shop.

The module shouldn't break anything when not configured or configured in a wrong manner.

[2016-11-04 15:34] fjbender commented on #4
@grasdaggel agreed.
@Fatchip-Support Aren't we shipping some kind of default data, so that the array is always populated? Otherwise we should check if there is data before populating the array to avoid issues like this.

[2016-11-04 16:19] grasdaggel commented on #4
If you need anything else from me, just give me a shot. I will deinstall the module for now, but I can reinstall it real quick. Thanks for your help.

[2016-11-07 09:44] davidverholen opened #5 "js error in checkout payment step"
Magento 2.1.2 + sample data + payone module (dev-master)

In the payment step of the checkout I get a js error:
```payone_iframe_min.js:8 Uncaught TypeError: Cannot read property 'hasOwnProperty' of null(…)```

Still making an order (tested cc and paypal) seems to work, but this could break other js functionalities on the site
![checkout-js-error](https://cloud.githubusercontent.com/assets/2813693

[2016-11-07 09:54] fjbender commented on #5
Doesn't seem to be a bug in the module at first sight (``payone_iframe_min.js`` is delivered by our platform and not the module), but maybe we transmit wrong/empty parameters.

[2016-11-07 11:53] fjbender commented on #5
@davidverholen Pinned it down. The Magento 2 extension injects the "Please select" into our iFrame which isn't recognized properly in the JS on our side (which we will fix).

We'll deliver the updated ``payone_iframe_min.js`` automatically as soon as it's fixed, no update of the module necessary.

[2016-11-07 11:53] #5 closed

[2016-11-07 13:00] Bugfighter commented on #5
@fjbender nicely debugged!

[2016-11-08 18:15] fjbender commented on #4
Shoudl be fixed with b5a990c.

[2016-11-08 18:15] #4 closed

[2016-11-25 11:18] grasdaggel opened #8 "Tables get called without prefix"
The module calls database table names without adding the needed prefix, which leads to exception errors.

[code]

In file `app/code/Payone/Core/Helper/Database.php` are the functions located at:
[code]

Seems like something is missing here. If I try to modify the calling database table to `cc_sales_order` (`cc_` is our prefix) it works perfectly nice. Seems this function just don't get the prefix,

[2016-11-25 13:02] fjbender commented on #8
@Fatchip-Support looks like a bug to me, please take a look.

[2016-11-29 09:05] grasdaggel commented on #8
Somehow other functions get the correct database value, otherwise they would have dropped errors earlier. Seems very weird to me. Manual fix in this function worked as workaround for us, but can't be the solution somehow. Please investigate this ASAP as we are trying to offer our customers PayOne as PSP for Mage2.

[2016-12-01 08:26] grasdaggel commented on #8
Any updates on this?

[2016-12-01 10:10] PAYONE-GmbH commented on #8
should be fixed with the last commit ...

[2016-12-01 10:10] #8 closed

[2016-12-13 17:48] skymeissner opened #15 "Partial Refunds"
Current version does not support partial refunds.  As far as I know it's just a matter of setting

` $_canRefundInvoicePartial = true;`

 in the payment models.

(http://stackoverflow.com/questions/16862022/magento-partial-refund-issue)

Just tested with Paypal and works without issues. Any reasons this is not being set by default?

[2016-12-14 12:55] #15 closed

[2016-12-15 07:49] dh1984 opened #18 "setup:di:compile Problem"
We get on setup:di:compile in the developer mode following error message:

Repositories code generation... 1/7 [====>-----------------------]  14%
1 sec 77.8 MiBPHP Fatal error:  Cannot use Magento\Framework\Controller\Result\Redirect as Redirect because the name is already in use in /xxx/vendor/payone-gmbh/magento-2/Controller/Onepage/Cancel.php on line 30

[2016-12-15 08:09] fjbender commented on #18
Can't reproduce :(
[code]

The only thing I can imagine being a problem is the name collision of the classes `\Magento\Framework\Controller\Result\Redirect` and `\Payone\Core\Controller\Onepage\Redirect` (which shouldn't be a problem at all).

Does the error still occur with eed151e45d0823b67c9e1ed32dd1053a70a049b5 applied?

[2016-12-15 08:17] dh1984 commented on #18
That solves the error.

[2016-12-15 08:34] #18 closed

[2017-01-17 18:07] nuzil opened #22 "Magento Enterprise database split compatibility"
Hello

We want to use your extension on Magento2 EE edition and wanted to use default Database Split feature of Magento EE. But unfortunately your extension is not compatible with it. May we expect that will will be fixed in future versions?

Thanks a lot

[2017-01-17 18:23] fjbender commented on #22
Do you have any implementation guidelines for this? I could only find this document, which explains the general setup but doesn't explain which guidelines to follow when actually implementing database split: http://devdocs.magento.com/guides/v2.0/config-guide/multi-master/multi-master.html

Where exactly is our module not compatible (e.g. Database Helper class isn't implemented database split awar

[2017-01-24 08:26] fjbender commented on #22
@nuzil Can you get me any more infos on this issue?

[2017-01-24 08:45] nuzil commented on #22
Hello @fjbender

One error:
When you are trying to VIEW order in Magento Backend this error popup

`PDOException: SQLSTATE[42S02]: Base table or view not found: 1146 Table 'aboshop3_www.sales_order' doesn't exist in /Users/alexlyzun/Projects/code/aboshop3/www/vendor/magento/zendframework1/library/Zend/Db/Statement/Pdo.php:228
Stack trace:
#0 /Users/alexlyzun/Projects/code/aboshop3/www/vendor/magen

[2017-01-24 08:46] nuzil commented on #22
I didn't check whole functionality because after this error we rolled back out system to use 1 database only

[2017-01-24 08:56] fjbender commented on #22
Thanks for the feedback, now I know where to look. Currently, we're using `\Magento\Framework\App\ResourceConnection`'s `getTableName()` method to obtain the table names. I can't, however, find the way to look up table names in a database split setting. I'd expect Magento's database abstraction to take care of that.

[2017-01-24 09:06] nuzil commented on #22
Honestly I also expect that Magento will handle it in case if developers using default Resources. But looks like not really

[2017-01-24 09:07] fjbender commented on #22
I'm afraid we will only rely on Magento's database abstraction and not get involved with handling the db ourselves.

Get back to me anytime you get new insights into this.

[2017-01-24 09:07] #22 closed

[2017-01-26 18:54] espressobytes opened #23 "Problem bei Kreditkartenzahlung. Bestellungen trotz fehlerhafter Daten im Testmodus"
**Zusammenfassung:**
Problem bei Kreditkartenzahlung: Bestellung wird abgeschickt, obwohl kein Vor- und/oder Nachname in den Kreditkarte angegeben ist.

**Details zur Reproduktion:**
- Payone mus im Testmodus sein
- Artikel in den Warenkorb legen
- zur Kasse gehen (bis Zahlungsart)
- Kreditkarte auswählen
- Kreditkarten-Daten eingeben, allerdings keinen Namen
- auf "Jetzt kaufen" klicken

**Aktuel

[2017-01-27 08:53] fjbender commented on #23
Danke für das detaillierte Feedback! Wir werden eine entsprechende Validierung einbauen.

@FATCHIP-GmbH go for it! :)

[2017-01-30 10:42] espressobytes opened #25 "Wenn ich als Kunde eine Paypal Bestellung abbreche, wird der Warenkorb gelehrt."
**Schritte zur Reproduktion:**

1. Einen Artikel in den Warenkorb legen und zur Kasse gehen.
2. Bei der Kasse Zahlungsart PayPal auswählen.
3. Warten bis die Seite von PayPal fertig geladen hat und anschließend auf zurück gehen.

**Aktuelles Verhalten:**

Man kommt wieder auf die Shop-Seite, allerdings mit der Meldung der Warenkorb ist leer.

**Erwartetes Verhalten:**

Der Warenkorb enthält die Ar

[2017-01-30 11:00] fjbender commented on #25
@espressobytes Das kann ich leider nicht reproduzieren. Um welche Magento- und Plugin-Version geht es genau?

[2017-01-30 14:25] espressobytes commented on #25
Magento Version 2.1.0
Plugin-Version 1.3.1. (also das letzte Release)

Es wird eine Bestellung angelegt, sobald der User auf "Jetzt zahlen" klickt. Diese Bestellung bleibt vorerst im Status "pending".
Wenn man dann auf "zurück" geht, wird die Warenkorb-Seite aufgerufen (Der Warenkorb ist aber, wie schon gesagt, leer).
Das Verhalten ist reproduzierbar, tritt aber nicht auf, wenn man den Paypal-Expr

[2017-01-31 08:26] fjbender commented on #25
Ich habe folgendes Setup nachgestellt:

[code]

Auch dort konnte ich das Verhalten nicht reproduzieren. Bitte kontaktieren Sie unseren Technical Support unter 0431/25968-500 oder tech.support@payone.de unter Angabe Ihrer Merchant ID und mit Verweis auf diesen Thread. Möglicherweise liegt hier ein anderes Problem vor (z.B. `backurl` Parameter).

[2017-01-31 09:17] espressobytes commented on #25
Hallo,

Leider trat das Verhalten auch auf, nachdem ich zum Testen alle anderen selbstentwickelten Module deaktiviert habe.
Nochmal, damit es ganz klar ist: Es geht nicht um den "Zurück-Link" in Paypal sondern darum, wenn man im Browser auf den "Zurück-Pfeil" klickt.

Ich habe aber schon die Ursache gefunden. Vielleicht könnt ihr das überprüfen und ggf. anmerken, sollte die die Möglichkeit bestehe

[2017-01-31 09:50] fjbender commented on #25
Das war die kritische fehlende Information ;) Jetzt kann ich das Verhalten auch reproduzieren. Wir schauen uns das mal an. Danke für den Lösungsvorschlag!

[2017-01-31 11:07] espressobytes commented on #25
Hallo,

Hab meinen letzten gelöscht, weil ich noch einen Fehler im Lösungsvorschlag gesehen habe.
Genau, es geht nicht um den "Zurück-Link" in Paypal sondern darum, wenn man im Browser auf den "Zurück-Pfeil" klickt.

**Ursache:**

In Klasse: `Magento/Quote/Model/QuoteManagement`
Methode: `protected function submitQuote(QuoteEntity $quote, $orderData = [])`
...wird (in Zeile 487) das `$quote`-Objek

[2017-02-01 15:50] espressobytes opened #26 "Fehlermeldung nur auf englisch"
Wenn man im letzten Checkout-Schritt falsche Kreditkarten-Daten angibt, erscheint eine Fehlermeldung vom Payone-Server, z.B.:

Invalid card number. Please verify your card data.

Der Text kommt aus dem javascript des iFrames.

Gibt es die Möglichkeit, dass diese in deutscher Sprache erscheint?
Oder ist dies ein Bug?

[2017-02-02 06:28] fjbender commented on #26
Ist konfigurierbar: Magento Backend -> Payone -> General -> Payment Creditcard -> Custom Styling -> Error Output (muss aktiviert sein und als Sprache "Deutsch" ausgewählt)

[2017-02-02 06:28] #26 closed

[2017-02-07 14:14] fjbender commented on #23
Mit #29 gefixt.

[2017-02-07 14:14] #23 closed

[2017-02-07 15:39] davidverholen opened #30 "release 1.3.1 breaks magento2 API"
In the latest release, the Payone\Core\Model\WebApi\Addresscheck was added as a webservice class.

It does not follow the magento2 best practices for creating a new service in the service layer and fails an internal check which leads to an exception (in our case, when calling the getOrderList SOAP Call)

`main.CRITICAL: InvalidArgumentException: The service interface name "Payone\Core\Model\WebApi

[2017-02-07 16:07] fjbender commented on #30
Thanks for pointing out this issue! We'll look into that.

[2017-02-09 14:08] keinereiner opened #32 "Can't install"
with compose i got these problems:
payone-gmbh/magento-2 v1.3.1 requires magento/framework ^100.0.0 -> no matching package found.

because my magento/framework is version 100.1.4.... so i think in the payone composer.json file is the "require" not write correctly.

[2017-02-09 14:33] fjbender commented on #32
I'm sorry, I can't reproduce:

[code]

The `^` operator should include minor version changes: https://getcomposer.org/doc/articles/versions.md#caret

[2017-02-09 14:33] #32 closed

[2017-02-10 13:36] davidverholen commented on #30
@fjbender will this be fixed anytime soon? Currently our Customer cannot continue developing / testing the SAP integration since the getOrders API Call does not work on the staging System

[2017-02-10 13:46] fjbender commented on #30
@davidverholen We have assessed the issue and are currently working on it. Expect more feedback the next week.

[2017-02-13 21:01] michael-hxx opened #34 "Migration Magento2 Mapping etc"
Hi
is there a plan for doing migration from magento1 (1.9.3.2) and latest payone extension to magento 2.1.4?
I need information for mapping etc
Thanks
michael

[2017-02-14 06:56] fjbender commented on #34
Hi Michael,

I'm sorry, but we don't plan to support migration from Magento 1 to Magento 2. We tried, however, to keep things as consistent as possible.

Best
Florian

[2017-02-14 06:56] #34 closed

[2017-02-14 11:22] fjbender commented on #30
Hi @davidverholen, can you check Robert's patch from #35?

[2017-02-14 11:51] davidverholen commented on #30
@fjbender looks good to me

[2017-02-14 14:13] davidverholen commented on #30
@fjbender unfortunately, it still throws an exception with the message:  Invalid parameter type "\Payone\Core\Model\WebApi\AddresscheckResponse"

I think it's the same Problem, but this time for the parameter. I'll look into it now

[2017-02-14 14:14] fjbender commented on #30
@davidverholen all right, thanks. Any way for me to reproduce this on our system without having a complete SAP Integration?

[2017-02-14 14:19] davidverholen commented on #30
should be sufficient to execute the getOrderList SOAP API call.

Problem seems to be here: https://github.com/magento/magento2/blob/develop/lib/internal/Magento/Framework/Reflection/TypeProcessor.php#L462

Also the Parameter has to be in the Api or Service Namespace. Best practice would be the same changes as for the Service itself:

- create API Interface
- use the Interface in the webapi.xml
- I

[2017-02-14 14:33] davidverholen commented on #30
ok, I just created the PR since I will test it now on our installation from my forked repository and then come back with the result

[2017-02-14 14:37] davidverholen commented on #30
it's looking good. After pulling in the changes I can use the order API again

[2017-02-14 14:39] fjbender commented on #30
Great, thanks! I was still busy reproducing this issue. Apparently, we didn't break the REST API, only SOAP.

I'll test your changes and merge if successful.

[2017-02-14 14:49] #30 closed

[2017-02-20 10:36] davidverholen opened #39 "CC Card iframe Custom Styling Quotation marks not escaped correctly"
If you save a css string containing double quotes (e.g. font-family: "some font", ....") in cc_template -> Standard Style -> input (for Example), the value is saved correctly and also the css works in frontend.

The Problem is, when the configuration is loaded again in the Magento Backend, the quotes are not escaped correctly and the value of the input field is empty.

Saving the configuration wil

[2017-02-20 10:46] fjbender commented on #39
Can reproduce. @FATCHIP-GmbH to the rescue!

[2017-02-22 10:18] smiler51 commented on #25
Wir haben das gleiche Problem, aber es ist wesentlich schlimmer. Es tritt auch bei Sofort-Überweisung und wahrscheinlich den anderen Zahlungsmethoden auf.

Man bestellt, geht auf die Payment Seite, kommt mit dem Backbutton des Browsers zurück und der Warenkorb ist leer.

Die Bestellung wird aber als bezahlt in Magento verbucht und der Kunde bekommt eine Bestellbestätigung zugeschickt. Er hat aber

[2017-02-22 10:28] fjbender commented on #25
@smiler51 Die Bestellung sollte nicht als "Bezahlt" verbucht werden. Hierfür haben wir im Modul das Transaktionsstatus-Mapping, welches sicherstellt, dass Bestellungen nur als "Bezahlt" markiert werden, wenn die Transaktion auch bei Sofort durchgeführt wurde.

Die Bestellung sollte zwar angelegt werden, allerdings im Standard Magento Order Status verharren, bis ein Update durch unsere Plattform er

[2017-02-24 06:41] #25 closed

[2017-02-24 07:25] #39 closed

[2017-02-28 12:09] josefbehr opened #42 "Checkout-Agreements not working"
We tried replacing an existing extension by a third-party developer by this official one and encountered a problem with the agreements when placing the order.
It doesn't matter if the boxes are checked or not, as (using this extension and a payment method provided by it) the data about them being checked is not transmitted anymore (see payload on request to V1/cart/mine/payment-information, "exten

[2017-02-28 12:18] josefbehr commented on #42
![payone-m2-err](https://cloud.githubusercontent.com/assets/4368880/23405008/53185938-fdb8-11e6-9798-8a9a7b2acc29.png)

[2017-03-02 08:12] #42 closed

[2017-03-03 09:55] josefbehr commented on #42
Hi, thanks for the quick fix.
Unfortunately - although I'm not totally sure it's related - we now get an error when clicking the "Same adress for billing and shipping" checkbox in the payment step (even when it's pre-selected). Didn't have this error before:
![payone-m2-2](https://cloud.githubusercontent.com/assets/4368880/23546447/e2f40324-ffff-11e6-944e-08efd8ab7c4c.png)

[2017-03-03 10:03] fjbender commented on #42
I can't reproduce this on my end, unfortunately.

[2017-04-19 14:21] skymeissner opened #48 "Creditcard logos"
PAYONE merchant service told me that it is mandatory to add creditcard logos on the payment page. Instead of the merchant the extension itself should take care of this.

[2017-04-20 06:20] fjbender commented on #48
Agreed. We'll look into this, however, please do not expect too quick results as there are quite some things to take into account (for instance, we don't want to release a new version whenever a payment method logo changes).

[2017-04-26 09:42] skymeissner opened #57 "Payment method invoice / Order and invoice paid immediately"
Steps to reproduce:

1. Install a fresh Magento 2.1.5 (or 2.1.6) with sample data
2. Create a customer
3. Create an order using payment method "payone_invoice", authorization method "authorize"  and payone mode "test".
3. Do not pay

Expected result:
1. An order is created, total paid is 0, total due is full amount
2. An invoice is created, status is unpaid

Actual result:
1. An order is created,

[2017-04-26 11:55] T-Kuchel commented on #57
Hi skymeissner,

I have tried to repoduce that issue on a fresh installed 2.1.5 and 2.1.6 with sample data (to be sure i did that 2 times with both versions).
I always get your expected result (order is created, total paid is 0, total due is full amountand invoice is created, status is unpaid), wich is our expected result either.

Are you using the latest 'master' of the extension? I use (of cours

[2017-04-26 12:16] skymeissner commented on #57
Did you cofigure the extension in any way. In my example I did not more than just add PAYONE access info. Anything that has to be configured for this to work?

[2017-04-26 12:38] T-Kuchel commented on #57
No. I just entered the credentials and of course activate the payment method 'payone_invoice'.

[2017-04-27 18:43] skymeissner commented on #57
It's my fault, I was indeed not using dev-master but was requiring 1.x.

But, tell me, why are you making another release? I usually don't require dev-master and I believe this is best practive on a project with semantic versioning. This issue is quite relevant and everybody who installs now with "composer require payone-gmbh/magento-2", like you  suggest in your docs, and like I did in my fresh i

[2017-04-27 18:43] #57 closed

[2017-05-02 10:20] skymeissner opened #60 "Sequence number incorrect with api requests"
The sequnce number is stored only in table "payone_protocol_transactionstatus". When an API request occurs this number is fetched and incremented for that request only. The incremented sequence number is not saved. Making two consecutive api requests fails because the second tries to use the same sequence number.

Example:

1. Create order and have it paid.
2. Create a credit memo for a partial am

[2017-05-02 10:31] fjbender commented on #60
Did you leave wait time between steps 2 and 3 to make sure the transaction status has been processed? That can take up to 15-20 minutes in test mode.

[2017-05-02 10:47] skymeissner commented on #60
Nope, I did not.  Sequence was number was incremented correctly with the callback!

[2017-05-02 10:47] #60 closed

[2017-05-03 09:15] skymeissner opened #62 "Create order from Admin"
When I want to create an order from admin I can select all available payment methods. But whichever I select there are no additional form elements displayed (bank country, iban, cc,...).

[2017-05-03 09:21] fjbender commented on #62
MOTO orders are unfortunately not possible with our Mage 2 Plugin.

[2017-05-03 09:21] #62 closed

[2017-05-03 09:48] skymeissner commented on #62
May I ask why?

For invoice it _is_ already possible. For debit payment, all that's missing are two inpus fields.

[2017-05-03 09:51] fjbender commented on #62
It just was out of scope for the initial integration and we haven't really had a case yet. I'm surprised it does work for payment methods that do not require additional input, since we didn't even test it. :)

[2017-05-03 10:17] skymeissner opened #63 "New invoice order handling"
With the "new" invoice handling an invoice is created and paid when payment occurs. However, if the merchant creates an invoice _before_ the order is paid (my customer wants to create and send the invoice immediately after order generation, including payment method invoice ) the status updates creates a second invoice with a grand total of 0 and pays that.

It would be better if the status update

[2017-05-03 10:19] skymeissner commented on #63
PR #64

[2017-05-03 10:38] skymeissner opened #65 "New invoice order handling with pre-authorization"
If you create order with authorization method "pre-autorization" and payment method "invoice" the amount is not yet captured.
To tell PAYONE to capture the amount I have to invoice and capture online. But that marks my invoice and order immeditely as paid, although no payment has yet occurred.

Can you reproduce the problem? Or do I have a problem in my workflow?

I solved this with interceptor fo

[2017-05-03 11:18] fjbender commented on #65
That's a toughie. In Mage 1, the invoice is marked as "Paid" right after the successful capture as well - which, however, seems counter-intuitive to me.

Still, there might be a good reason why we do it that way - I'll try and find out.

[2017-05-16 12:25] davidverholen opened #69 "Product Bundles SKU's too long for payone api"
we currently have an issue, that we cannot checkout with a product bundle on the live system (it seemed to work in test mode before)

After talking to the technical support, it seems like all child product sku's are concatenated with the bundle sku itself

[2017-05-16 13:11] davidverholen commented on #69
seems that it was the magento bundle product configuration: Dynamic Sku

[2017-05-16 13:11] #69 closed

[2017-05-17 06:29] davidverholen opened #70 "Order confirmation sent when payment failed"
yesterday, we had the case, that a payment could not be completed because the mastercard was not registered for mastercard securecode (regarding to the error message of the cc provider).

after the payment failed, order confirmations have still been sent to the customer.

[2017-05-17 12:10] fjbender commented on #70
We're currently looking for a clean way to fix this.

[2017-05-18 09:45] fjbender commented on #70
With #66 we introduced that order e-mails are only sent when the order is confirmed by Payone.

I'd rather not refactor the entire order creation process. Experience shows that when the order is only created upon the customer returning to the shop, we end up with payments with no corresponding orders, which to me seems like the bigger mess than orders without payments.

I'd suggest you take a look

[2017-05-18 09:54] davidverholen commented on #70
basically it's looking good to me. will there be a new stable release soon?

[2017-05-18 09:55] fjbender commented on #70
I guess I can make one after lunch.

[2017-05-19 09:39] davidverholen commented on #70
now it seems that mails for the paymernt method cash on delivery (for example) are not sent at all

[2017-05-22 11:01] berwa opened #71 "Credit memo adjustment causes error"
Setup: Magento CE 2.1.4, module-version 1.3.2

Steps to reproduce:
- Place order e.g. with payment-method Paypal
- Create an invoice for the placed order (capture online)
- Try to create an credit memo with only an adjustment:
  - change to invoice-details
  - click 'Credit memo'
  - set item-qty(s) to 0
  - click 'Update Qty's'
  - enter a value (e.g. 10) in text field next to 'Adjustment Refund'

[2017-05-22 12:47] fjbender commented on #71
@berwa I just tried to reproduce this behavior, but it works fine in my system.

Error code 950 indicates that prior transaction status notifications have not yet been processed by the shop. Please make sure your transaction status URL is configured correctly in the PMI and the notifications reach your shop. You can call our Technical Support Team at +49 431 25968-500 if you need any assistance.

[2017-05-22 12:47] #71 closed

[2017-06-09 13:25] wetzesa opened #75 "Is the extension ready for enterprise database clustering"
Hi...

we would like to use the extension in a Mage 2 EE project with database clustering like described here.
http://devdocs.magento.com/guides/v2.0/config-guide/multi-master/multi-master.html

Is the extension ready for working in both modes ("single" db and clustered db)?

Regards

[2017-06-12 05:40] fjbender commented on #75
Hi @wetzesa

We discussed this in #22 but dismissed the issue due to insufficient information. If you have any more insights into this topic, please reopen the original issue.

Thanks
Florian

[2017-06-12 05:40] #75 closed

[2017-06-15 05:45] fjbender commented on #65
Hi @skymeissner,

Sorry, this issue got kinda lost. I'd be happy if you sent a pull request!

[2017-06-20 13:21] SMunker commented on #70
It seems this changes has been created a new bug. Now I have the same problem as davidverholen.
Now, no order confirmation email will be sent for my active payment methods like credit card, cash on delivery, advance payment and SOFORT Überweisung.

[2017-06-20 13:23] fjbender commented on #70
Sorry, i completely overlooked your comment.

@davidverholen do you have more info on this issue by chance?

[2017-06-20 13:40] SMunker commented on #70
I changed in file /Model/Methods/PayoneMethod.php at line 111 from
`$oOrder->setCanSendNewEmailFlag(false);`
to
`$oOrder->setCanSendNewEmailFlag(true);`

This change works for me. But I don't know if it solves the original problem.

[2017-06-20 13:41] davidverholen commented on #70
For us it's working now. But cash on delivery mail for example is delayed until payment confirmation through payone. You habe to make sure that payone can send transaction updates though

[2017-06-29 09:05] sydekumf opened #80 "Please create releases with minor number change for bugfixes"
The latest release is from 18th of May, since then many bugfixes have been comitted but no release has been created. Can you please create a release with the increase of the minor number for that?

Otherwise I have to clone the repository which I don't want :-) Would be great :-)

[2017-06-30 05:52] fjbender commented on #80
Just waiting on #81 and then I'll get right to it.

Cheers
Florian

[2017-06-30 09:26] fjbender commented on #80
It's done.

[2017-06-30 09:26] #80 closed

[2017-07-04 07:45] sydekumf opened #83 "Address validation error leads to PHP Notice"
Hi there,

we had an address validation error (which is correct as the address was not correct) but the response from Payone lead to a PHP notice in the module.

In https://github.com/PAYONE-GmbH/magento-2/blob/master/Model/Api/Request/Consumerscore.php#L118 it is expected that the response has the `score` field, but in a case of a wrong address the response looks like:

[code]

That is the reason

[2017-07-04 09:58] fjbender commented on #83
We'll look into it (MAG2-33).

[2017-07-18 14:55] jignesh26 opened #85 "Bei der Bearbeitung dieser Transaktion ist ein Fehler aufgetreten (Falsche Parameter)."
Hello,

 We have updated magneto version 2.1.7 and have latest module from payone. 1.3.4. but when we try to place order using the test mode. its saying that.  "Bei der Bearbeitung dieser Transaktion ist ein Fehler aufgetreten (Falsche Parameter)."

Please help us in that
Thank you.

[2017-07-18 15:02] fjbender commented on #85
Hi @jignesh26

Most likely our API refuses the request you made because of a configuration error.  Please contact our Technical Support team at tech.support@payone.com stating your merchant ID and if possible date and time of the error so they can take a look at the logs.

cheers
Florian

[2017-07-18 15:02] #85 closed

[2017-07-19 07:27] sydekumf commented on #83
What is the current status of this? We are still experiencing the issue :-)

[2017-07-19 07:34] T-Kuchel commented on #83
We ( @FATCHIP-GmbH  ) are still working on that. We'll inform you  immediately when this issue is solved.
Thank you for your patience!

[2017-07-19 13:47] a-t-s opened #86 "Missing default value for payone_general/global/request_type"
Hi!
Low priority issue.
There is no default value given for xpath payone_general/global/request_type in etc/config.xml (no such node).
If you configure payone only for one website for instance (no global values in core_config_data) and take what you see for granted (the config source model shows a "preauthorization" default - see attached image) ... no request_type is sent and thus you end up with

[2017-07-21 09:55] #83 closed

[2017-07-25 11:38] marcmmx opened #89 "Fatal error: Uncaught TypeError: Argument 1 passed"
After installation of the extension I get following error message on the frontend. The Backend is working.

Fatal error: Uncaught TypeError: Argument 1 passed to Magento\Customer\Model\AccountManagement::__construct() must be an instance of Magento\Customer\Model\CustomerFactory, instance of Magento\Framework\ObjectManager\ObjectManager given, called in /var/www/viktoriamed/vendor/magento/framewor

[2017-07-25 11:49] fjbender commented on #89
Can you supply more details about how exactly you installed the module, i.e. which commands you ran and whether they all completed successfully?

Cheers
Florian

[2017-07-25 21:01] marcmmx commented on #89
Of course.
I followed exactly the steps from here
https://github.com/PAYONE-GmbH/magento-2

[code]

finally I made in the installation directory of magento 2:
`chown -R www-data:www-data .`
and
`chmod 700 /var/www/viktoriamed/app/etc`

[2017-07-26 10:20] fjbender commented on #89
Sounds good so far. However, I'm not sure if it's our extension causing the problem. The stacktrace hints towards another extension `create('LitExtension\Cu...')`. Try disabling the "LitExtension" and see whether this changes anything.

[2017-07-27 07:24] #89 closed

[2017-07-27 07:24] marcmmx commented on #89
Re-installation and another deploy has fixed the problem.

[2017-08-08 13:36] sydekumf opened #92 "Order Items send to Payone during capture"
Hi,

during an online capture the order items are collected here in order to be sent to Payone: https://github.com/PAYONE-GmbH/magento-2/blob/master/Model/Api/Request/Capture.php getInvoiceList()

As you can see it expects request parameter, this means an online capture can only be done from the backend. There should be another solution so that you can create an online capture maybe on command lin

[2017-08-08 14:04] fjbender commented on #92
Can you provide me with some details about what you're trying to do? I'm not quite sure I understand correctly.

As I see it, a capture is always order-specific so you'd definitely need the order details to send a capture.

[2017-08-09 08:11] fjbender commented on #86
We'll take a look. Thanks for your input!

[2017-08-16 07:11] #86 closed

[2017-08-21 17:16] lfritsche opened #94 "PayPal fails on pre-authorization | working on direct-authorization"
Hi there ;)

Magento 2.1.5
PayOne Extension in most recent version.
Payment Method: PayPal

If I switch the authorization method to "pre-authorization" the redirect back to the shop fails.
After successfully logging in at paypal and confirming the payment I should see a redirect to the checkout success page, but instead I see the checkout page (step 1) again without any error message. The Payone R

[2017-08-22 07:33] fjbender commented on #94
Hi and fhanks for your feedback!

To me, this sounds like an issue with configuration of your merchant account on the plattform. Please contact the Technical Support Team and have them look at this specific transaction (have your merchant ID and date/time of the request ready).

If they can't find anything, please come back here and we'll see if there's an issue with the plugin.

Cheers
Florian

[2017-08-28 10:00] domeglic opened #95 "Integration tests fail because of wrong module sequence"
When running integration tests on a project with this module it will fail with the message:

Since there is no sequence defined, this modules setup is run very early and fails because quote tables have not been created yet.
Adding **Magento_Quote** to the sequence fixes the problem (Should probably also add **Magento_Sales** since order tables are being changed to be more correct).

Would be reall

[2017-08-28 13:43] fjbender commented on #95
Thanks for the feedback!

Just to be sure: You're referencing to the `<sequence>` Tags in our `module.xml` file as defined in http://devdocs.magento.com/guides/v2.0/extension-dev-guide/build/module-load-order.html, right?

Altering the file this way would suffice?

[code]

[2017-08-29 13:42] fjbender commented on #95
@domeglic Can you confirm that the integration tests run with my changes from #96?

[2017-08-29 14:16] domeglic commented on #95
I have tested it and can confirm that fix #96 solves the problem.

[2017-08-29 14:47] #95 closed

[2017-08-30 07:27] domeglic opened #97 "Can't place order with Creditcard when JS is merged/minifed/bundled"
**Preconditions**
- Store is in production mode
- Javascript is merged/minified/bundled: _Stores->Configuration->(Advanced)Developer->Javascript settings_
- Magento v2.1.6 (with sample data)
- module v1.3.5

In the checkout, choosing creditcard and placing an order will not work. The fullscreen loader is started, one ajax request is made (to secure.pay1.de) but nothing else happens. There are no j

[2017-09-06 06:22] #94 closed

[2017-09-07 06:53] sydekumf commented on #97
Hi there, glad to see this ticket! We also had this issue on 2 (two!) completely separate instances (different customers). We talked to the Payone Technical Support and they tried to reproduce the issue. Unfortunately they told us they can not reproduce it.

The problem is still there and we were forced to deactivate merging/bundling/minifying which of course leads to a poor shop performance in th

[2017-09-07 07:14] fjbender commented on #97
Good news is, I can reproduce the problem. Development will have a look at this soon.

[2017-09-07 07:16] domeglic commented on #97
I added a workaround for this in my project, although it is not really well tested and not in production yet.
The workaround is a mixin that sets [this](https://github.com/PAYONE-GmbH/magento-2/blob/974d9ea05162d1bed972e62e292a338665b30ae8/view/frontend/web/js/view/payment/method-renderer/creditcard-method.js#L165) function to the window property directly.

[code]

[2017-09-07 07:16] fjbender commented on #97
@domeglic Thanks, this should probably point us in the right direction.

[2017-09-11 11:48] fjbender commented on #97
PR #99 fixes this issue for me. Can anyone confirm?

Cheers
Florian

[2017-09-12 05:43] #97 closed

[2017-09-13 19:16] sydekumf commented on #97
Hi, unfortunately credit card still does not work with activated JS merging/bundling/minifying. Safe Invoice does work.

[2017-09-21 07:50] fischamhaken opened #100 "Offline capture for preauthorization disables creditmemo."
I found this piece of Code in Observer:

$oInvoice->setRequestedCaptureCase(Invoice::CAPTURE_OFFLINE);
-> this is fix in Observer\Transactionstatus\Paid.php!!

But if invoice is captured offline for advance_payment - I could not do creditmemo because invoiced status will not arrive in pmi. Set this to CAPTURE_ONLINE sends information to pmi an I can do a creditmemo, but I get message 907 - An erro

[2017-09-21 07:51] fischamhaken opened #101 "Creditmemo works only once for an invoice"
If I want to do more than 1 creditmemo for an invoice I receive following error:

907 - An error occured while processing this transaction (wrong parameters).

[2017-09-21 08:30] fjbender commented on #100
You should always use capture online, otherwise our platform will not get notified about the capture.

When you receive error 907 this is only temporal. It just means that the asynchronous response about the capture has not yet been processed. Just wait a couple of minutes and try again (see Transaction Status log for details).

I just tried to reproduce this and a partial refund works fine.

If y

[2017-09-21 09:59] fjbender commented on #101
See my comment on #100, error 907 means the asynchronous notification has not yet been processed. Just wait until the notification arrived and try again then.

Cheers
Florian

[2017-09-21 09:59] #101 closed

[2017-09-21 10:28] fischamhaken commented on #100
Hi Florian,

but have a look into the Code:

\Observer\Transactionstatus\Paid.php

$oInvoice->setRequestedCaptureCase(Invoice::CAPTURE_OFFLINE);

is fix!

Is it the right way for me to replace this with Code like this:

		if ($oOrder->getPayoneAuthmode() === 'preauthorization') {
			$oInvoice->setRequestedCaptureCase(Invoice::CAPTURE_ONLINE);
		} else {
			$oInvoice->setRequestedCaptureCase(Invoic

[2017-09-21 12:59] fjbender commented on #100
Yes, you're right. I'll take a closer look into this.

[2017-09-22 12:43] jaykobi opened #102 "Company name taken from a forgone request"
I sometimes have to create a lot of orders by code. It became evident now, that quite a lot (several hundreds) requests were send where the company name in the autorization request was the name of a foregone request. This leads to payments being matched to wrong orders.
Except for the company name, all customer data always was correct. The afftectet requests have consequent order_ids and very clos

[2017-09-25 06:01] fjbender commented on #102
Thanks for your precise analysis. To save us the hassle of writing code that creates a lot of orders, can you test a workaround, where you explicitly reset the company parameter (or the entire address for that matter) and see if the issue goes away?

Thanks
Florian

[2017-09-25 07:05] domeglic opened #103 "Advance Payment not automatically captured"
When paying with advance payment, an invoice is created when the customer pays. Order is marked as fully paid and goes into processing however the payment is not really captured.

Is there a reason why it does not capture automatically? Maybe I am missing some configuration. Having to manually confirm hundreds of payments each day is not a very good solution.

[2017-09-25 07:07] fjbender commented on #103
I think this is related to #100. We're currently looking into this and will fix this soon.

[2017-09-25 07:45] skymeissner commented on #102
I think for thr addresse it's just a matter or removing the if clause. I will have to check where the setting of bankdata occurs to remove that issue, too. I will post my findings here during the next days.

[2017-09-25 09:36] kostyagh opened #104 "Magento Enterprise database split compatibility (Update)"
Hello @fjbender
I have checked both closed issues.
https://github.com/PAYONE-GmbH/magento-2/issues/22
https://github.com/PAYONE-GmbH/magento-2/issues/75

You do not need to do any significant changes to make your extension supports Magento EE.
These are basic rules for supporting EE.
http://devdocs.magento.com/guides/v2.1/config-guide/multi-master/multi-master.html#config-ee-multidb-opts

You need

[2017-09-25 09:39] fjbender commented on #104
Thanks for the feedback!

We're currently trying to obtain an EE license for testing purposes from Magento and then we'll address this issue.

[2017-09-27 08:47] skymeissner commented on #102
I looked a little deeper into the extension code and I found, that the request object itself gets injected when creating an order. Magentos DI component injects singletons so the same object is reused every time. Every parameter that was present on the last request and is ot overriden will continue to exist.

To create a blank request object for each order we have to inject a factory that creates

[2017-09-27 14:28] fjbender commented on #102
Wow, thanks :)

We'll see that we put this in one of the upcoming sprints.

[2017-10-03 10:37] alexkuk opened #107 "Magento 2.2 compatibility"
The current version is not Magento 2.2 compatible.

[2017-10-04 12:02] FATCHIP-GmbH commented on #107
We are now working on that topic.
Internal Ticket: https://integrator.payone.de/jira/browse/MAG2-42

[2017-10-05 12:34] domeglic commented on #100
Any update on this? A workaround is simple but I would rather have it done in the extension already so there are no modifications.

[2017-10-06 05:46] fischamhaken opened #108 "Missing messages when returning from bad credit card payment"
In the credit card payment I noticed the following: In the IFrame heavy credit card errors are displayed before sending. However, e.g. enter an incorrect valid-to date or refuse payment for other reasons after exiting the I-frame, then the return goes to /checkout/

However, Magento's new one-page checkout consists of two parts, 1. the shipping address, 2. the payment method. The payment method is

[2017-10-11 06:23] fischamhaken commented on #108
Are there any updates or comments on the subject?

[2017-10-11 06:45] fjbender commented on #108
When I enter a wrong expiry date, I get the following error:
![Mage Checkout with wrong expiry date](https://talisker.fbender.de/fbender/dump/magento2_expiry.png)

However, it is true that the jumpback URL for the "Cancel" action on the third party page (e.g. 3D Secure) goes back to /checkout instead of /checkout/#payment. This should be fixed.

[2017-10-11 11:11] fischamhaken commented on #108
You can not test it in test mode! You must take a valid-to date that is invalid and lies in the future! The only way to see the error behaviour in the test mode is to make a 3-D secure order, and abort on the 3D secure page.

If you use an incorrect check-digit or an incorrect valid-to date, which is in the future, during the live- checkout, it is simply returned to the checkout page, without erro

[2017-10-11 11:13] fjbender commented on #108
Okay, thanks for the clarification. This issue will be addressed to make sure the customer gets back to /checkout/#payment in any case.

I suppose the Denglish error messages are due to my weird shop configuration. Or is there a general problem? If yes, we should discuss this in a separate issue.

[2017-10-11 14:28] fischamhaken commented on #108
Yes, to first answer, no, to your suppose :-) I have clean Magento Setup with complete german translation, but errors in validation fields occur in english. I´ve seen something of a magento bug in validation.js in versions < 2.2 (missing __ trans function) - but I dont know how Payone Extension handles the validation of the input fields.

https://magento.stackexchange.com/questions/162195/translat

[2017-10-13 08:16] fjbender commented on #108
Okay, I think we should address this separately. Can you open another issue for this, please?

Cheers
Florian

[2017-10-13 08:18] fjbender commented on #100
Hasn't this been fixed with #105 ?

[2017-10-13 08:19] fjbender commented on #103
Hasn't this been fixed with #105 ?

[2017-10-15 06:54] fischamhaken opened #110 "Credit Card Error messages are not translated"
M2.1.7

Error messages for wrong card information are not translated - even if german translation exists.

[2017-10-16 06:39] fjbender commented on #110
I can't reproduce this. Once the language is set, messages are displayed in the corresponding language:
![image](https://user-images.githubusercontent.com/7370694/31598350-65def956-b24d-11e7-9299-8a5b348ea09c.png)
(In admin backend PAYONE -> General -> Payment Creditcard -> Custom Styling hosted iFrame)

![image](https://user-images.githubusercontent.com/7370694/31598326-450daa7e-b24d-11e7-8d3c-d8

[2017-10-16 14:59] fischamhaken commented on #110
Hi,
yes, its really hard to find :-)
I actualized this....
![clipboard03](https://user-images.githubusercontent.com/30490386/31618518-75c9cd4c-b292-11e7-8606-2f33fb96bf96.jpg)

..but error is displayed in english:

![clipboard02](https://user-images.githubusercontent.com/30490386/31618568-991fadfc-b292-11e7-94de-a4f14e265986.jpg)

I found code for translation via grep for this not translated strin

[2017-10-17 07:23] fjbender commented on #110
Yes, some of the messages are generated on our platform (i.e. whenever card date had been verified) and some are generated from the shop (i.e. when fields are incomplete).

Can you provide a PR for the added translations? :)

[2017-10-17 16:12] larsroettig opened #111 "Wrong Module Version in module.xml"
In the Last Tag is the Module Version not correct set see:

https://github.com/PAYONE-GmbH/magento-2/blob/def5621f30e098ac3f513723777f8d360611f7ea/etc/module.xml#L28

[2017-10-17 16:44] sydekumf commented on #92
I mean line 81 in https://github.com/PAYONE-GmbH/magento-2/blob/master/Model/Api/Request/Capture.php#L81.

You rely on a request object which you do not have if you write some command line logic to capture on cli :-) We rewrited that functionality so that it uses the registry.

[2017-10-18 05:51] fischamhaken commented on #100
I can confirm it is fixed with with #105 by deleting automatically invoice capture for advanced payment from module. Even if I don't understand why it's not possible to do an online capture for advanced payment. At the moment I have placed workaround like this:

        // order is not guaranteed to exist if using transaction status forwarding
        if (null === $oOrder){
            return;

[2017-10-18 06:11] #100 closed

[2017-10-18 06:23] #111 closed

[2017-10-18 07:24] fischamhaken commented on #110
Just for information - if others have same issue:
These are the strings i can not translate:
![clipboard05](https://user-images.githubusercontent.com/30490386/31705297-21febee4-b3e5-11e7-8c88-60f1bd2f8605.jpg)
![clipboard06](https://user-images.githubusercontent.com/30490386/31705298-221e05d8-b3e5-11e7-8732-75b3b6db3135.jpg)
![clipboard07](https://user-images.githubusercontent.com/30490386/3170529

[2017-10-18 07:28] fjbender commented on #110
Thanks for the updated CSV, I will create a pull request with that.

The other messages should be translateable through the (hidden) language selection in the admin backend, as they are generated platform-side.

[2017-10-19 06:05] fischamhaken commented on #108
Hi,

are there any Updates relating the problem with the wrong checkout url in error case?
(to make sure the customer gets back to /checkout/#payment in any case)

Cheers,
Stefan

[2017-10-19 06:13] fjbender commented on #108
We're still working on this - it's a minor change, but still somebody has to find the time to do it :/

[2017-10-19 07:43] fischamhaken commented on #110
Another point at this issue: Is it possible that call to credit card provider does not accept language ("deutsch") - in test cases I noticed that 3D-Secure Page is complete english too, have a look at screenshot.
![clipboard09](https://user-images.githubusercontent.com/30490386/31759510-ef9798fe-b4b1-11e7-8f6d-010c672a47ac.jpg)

[2017-10-19 07:49] fjbender commented on #110
As I see it, our 3D Secure test page is only available in English. In live mode, the 3D Secure page is provided by the bank of the customer, which should automatically be in the right language.

[2017-10-23 06:32] #107 closed

[2017-10-23 12:01] domeglic commented on #103
No, that solution fixes another problem. My issue is actually exactly what @fischamhaken wrote in #100: Having to manually capture hundreds of orders every day.

This is actually the same "problem" that also exists in the Magento-1 version, but I still don't understand why. When calling Payone Support nobody could explain exactly why this is.

[2017-10-23 13:16] fjbender commented on #103
Okay, maybe what you guys are trying to do is better solved using "authorization" mode instead of "preauthorization". "authorization" constitutes an immediate sale, thus no separate capture is needed. However, you'd need to pay attention to the status mapping, so orders don't slip into "processing" too early.

[2017-10-23 13:21] lfritsche commented on #103
Hi @fjbender
just diving into the discussion about status mapping. It's off-topic, because I have the issue with magento1/payone/paypal. But what do you mean by "slip into processing too early". I think that I'm facing this exact issue. The status mapping stucks on "running" afterwards on every transaction update. Sounds like a known issue?
Thank you :)

[2017-10-23 13:39] domeglic commented on #103
If we use authorization then we cannot create creditmemos.

Currently what we have to do is: Wait for status Paid then click on button to invoice.
I don't see a difference between a person clicking on invoice and a script doing it automatically.

[2017-10-23 14:10] lfritsche commented on #103
Regarding creditmemo on authorization mode. We also don't see the option to refund via invoice.
@domeglic That's much time, if you capture hundreds orders daily: Have you tried as a workaround, to use a extension like Xtento sales export extension (automatically invoice on export) or bulk order processing (manually create online invoice for all selected orders in grid) and trigger the invoice some

[2017-10-23 14:14] fjbender commented on #103
Okay, well. Thank you guys for bearing with me here.

Prepayment in combination with authorization is not recommended by our product guys for various reasons, as there a quite some side effects, which you are also experiencing. So back to the beginning.

What we need to do here is the following:
- User sends in order, order is sent to payone with preauthorization (works)
- User wires money, Magent

[2017-10-23 14:31] skymeissner commented on #103
@domeglic

Yes, you can. You cannot change the order (like bought articles) and you cannot cancel ist. But sure you can create creditmemos.

[2017-10-23 14:32] larsroettig commented on #92
Hi,
Currently, it is not possible to run an online capture more than one time in one PHP process. For big merchants, it is required to use asynchronous processing over logic to capture over cli or cron jobs.

Example:

[code]

There should be a possibility, that the module resets all necessary information (parameters in classes etc) for every request like a capture or refund.

[2017-10-23 15:01] domeglic commented on #103
@lfritsche Having an option included in the extension would help so no additional code is needed. There is also no possibility of doing something wrong.

@fjbender Doesn't the _Paid_ status already indicate that the payment was successful? If the customer doesn't pay enough then status _Underpaid_ is received instead.

@skymeissner I didn't really check in Magento-2 version, but in the previous on

[2017-10-23 17:21] fischamhaken commented on #103
Hi Florian,
thank you very much for your explanation of the payment sequence :-)
Let me add some information. As Payone Tech-Support told me, Status paid is only transfered if full amount was passed. So it could happen an overpayment, but no underpayment.

In case of overpayment its ok to capture invoice with the regular amount. One can refund the overpayment in PMI.

Here is how it could work:
1)

[2017-10-24 08:57] fjbender commented on #92
@larsroettig I see. However, I'm not sure what's best practice here.

Should we implicitly reset everything when `capture()` is called (https://github.com/PAYONE-GmbH/magento-2/blob/master/Model/Methods/BaseMethod.php#L300), or implement an explicit `reset()` method?

[2017-10-24 10:59] fjbender commented on #103
@fischamhaken Correct, that's why I added an additional condition:

However, please don't expect a solution to this problem too soon - I'll have to clarify this with other stakeholders within the company first.

[2017-10-24 11:01] fjbender commented on #103
@domeglic

Yes, but if something is overpaid, a capture with the increased amount would fail, so this is something we'll have to pay attention to and clarify that the overpaid amount has to be refunded, as Stefan noted.

[2017-10-24 16:36] sydekumf commented on #92
@fjbender There are some implementations like I said in the first comment, like the request object or maybe the Magento registry which definitely should not be used here in the first place, because they are not designed to work on cli or in an environment where you do not have single requests.
Altogether I think the module should be completely search for possible parameters which should be reseted

[2017-10-25 14:47] #110 closed

[2017-10-27 07:41] fjbender commented on #108
Fixed with #117

[2017-10-27 07:41] #108 closed

[2017-11-15 13:04] david-fuehr opened #121 "Refund orders with several variants for one configurable"
When an order with a payone payment method was placed and captured, the refund during creditmemo creation fails in specific cases.

Given:
[code]

Then the following code is executed for every order item (no dummy positions) and will create an invalid API call (`\Payone\Core\Model\Api\Invoice::addProductItem`):
[code]
Order item `0` is included in parameters, because `productId` of creditmemo item

[2017-11-15 13:48] fjbender commented on #121
For order items `0` and `1` in your `getAllItems()` list, the `sku` and `productId` are the same, thus I'd say that both items must be included. Or is that a typo? Or maybe I'm not quite understanding.

[2017-11-16 09:32] xBitsSec commented on #107
Can you update composer php requires to PHP 7.1. Thx :)

[2017-11-16 13:23] fjbender commented on #121
Okay, I see :) Basically, this can be avoided by adding the `sku` as an additional condition for adding the product in the `\Payone\Core\Model\Api\Invoice::addProductItem` method, right? I'm not quite sure about possible side effects, but we'll check and come back to you.

[2017-11-16 13:28] fjbender opened #123 "PHP 7.1 compatibility"
Shouldn't be a big issue, but I haven't gotten around to test it yet. This is a reminder for me.

[2017-11-16 13:29] fjbender commented on #107
@xBitsSec see #123

[2017-11-16 15:20] david-fuehr commented on #121
Thank you, that should do. Meanwhile I figured out, that in our case the configuration `payone_general/invoicing/transmit_enabled = 0` is a suitable workaround for that issue.

[2017-11-20 08:15] fjbender commented on #121
This workaround should work for most payment methods, but be advised that some methods require the transmission of a basket (e.g. factoring providers "safe invoice") and this transmit_enabled flag will be overridden for those.

[2017-11-20 15:15] #123 closed

[2017-11-20 15:34] fjbender commented on #123
@xBitsSec the build with PHP 7.1 passed: https://travis-ci.org/PAYONE-GmbH/magento-2/builds/304799002

Can you confirm there're no "real world" issues with PHP 7.1?

[2017-11-27 07:47] fjbender commented on #121
#127 is supposed to fix this issue. I can't really test this with our test data - can you confirm this fixes your issue?

[2017-11-27 12:00] domeglic opened #128 "Creating a new non-payone creditmemo shows exception"
When I try to create a creditmemo for an order not paid by a Payone payment I get an **Invalid Method** exception.
`1 exception(s):
Exception #0 (Magento\Framework\Exception\LocalizedException): Invalid method Magento\OfflinePayments\Model\Banktransfer\Interceptor::needsSepaDataOnDebit`

Magento version: 2.2
Module version: commit beb41039651f978c396980ec8198b78c8cb39af8
Only stops working in Deve

[2017-11-27 12:31] fjbender commented on #128
I could reproduce this, thanks for your feedback. We'll fix this.

[2017-11-28 13:35] fjbender commented on #128
Fixed with #129.

[2017-11-28 13:35] #128 closed

[2017-11-29 15:11] fjbender commented on #104
@kostyagh we now have PR #131 which should fix this issue. We still don't have an EE license from Magento. Can you confirm this enables the database split in EE?

[2017-12-01 17:25] davidverholen opened #133 "Module cannot be compiled without dev dependencies"
As a best practice, we do not deploy the dev dependencies (including phpunit) to the production systems (composer install --no-dev).

Unfortunately, there is an error during compilation of the module when phpunit is not installed

Errors during compilation:
  	Payone\Core\Model\Test\PayoneObjectManager
  		Class PHPUnit\Framework\TestCase does not exist

[2017-12-04 08:44] fjbender commented on #133
Thanks for your feedback. We'll take a look and fix this.

[2017-12-05 09:20] CarelNantcho opened #134 "checkout: unserialize() Exception"
Magento 2.1.7
PHP 5.6
- Payone is just installed, not set up.
- A product is added to the cart.
- Click on "view all articles"

Then:

1 exception(s):
Exception #0 (Exception): Notice: unserialize(): Error at offset 0 of 751 bytes in /xxx/xxx/xxx/vendor/payone-gmbh/magento-2/Helper/Base.php on line 139

Exception #0 (Exception): Notice: unserialize(): Error at offset 0 of 751 bytes in /xxx/xxx/xxx

[2017-12-05 12:10] petertroeger opened #135 "Error 1610 when Invoicing with cart price rule"
Hi :)
I encounter the following error in Magento 2.1.10 with v. 1.3.6 and also with Magento 2.2.1 and v. 2.0.2,
fresh installation (and also our running shop).

How to reproduce the Problem:

1. Fresh installation of Magento
2. Only install the Payone Plugin
3. Setup Invoice in Payone
4. Authorize Method - > preauthorization, Transmit invoice information -> Yes
5. Create a Cart Price Rule with 30%

[2017-12-06 08:35] fjbender commented on #134
At first I thought this was a bug. But I can't really reproduce it in a freshly installed Mage 2.1.7, mainly because I can't find the "Show all articles" link you described.

As a background, why we introduced this change: Mage 2.2 doesn't allow serialized values anymore and prefers json, while we used serialized values in our plugin prior to Mage 2.2 compatibility. However, I'm not quite sure why

[2017-12-06 09:08] CarelNantcho commented on #134
Sorry, with "Show all articles" i mean checkout/cart.

I sent you a complete stacktrace in a private mail (me@fbender.de)

Thank you

[2017-12-06 10:15] fjbender commented on #135
Hi @petertroeger,

I suspect this is a rounding problem. Can you please contact our technical support team at tech.support@bspayone.com with details to the transaction (MID, TXID, timestamp) and refer to this Github issue?

Thanks!

[2017-12-06 15:22] fjbender commented on #133
Fixed with #136

[2017-12-06 15:22] #133 closed

[2017-12-06 15:40] davidverholen commented on #104
there is one addition. in The UpgradeSchema, the getConnection for quote tables needs the connection name for the checkout database or the upgrade will fail with sharded databases.

Meaning you just have to call it like:
$setup->getConnection('checkout')

[2017-12-06 15:44] fjbender commented on #104
Thanks :) That's the problem when you can't test it in an actual EE shop.

[2017-12-06 16:14] davidverholen commented on #104
yes, it must be really awful currently for 3-rd party extension vendors. Be sure we will test some things over the next months ;)

[2017-12-07 10:05] #104 closed

[2017-12-12 08:59] fischamhaken opened #138 "Wrong implementation with bank data in mails for advance payment"
Since version 1.3.5, the function "Bank Data now added to order confirmation email per default" has been added.

I believe that this is not usable as implemented now.

First, its ok to give the customer the hint for bank data to transfer his money. But: It should be possible to add custom notices for that. Translation file with "Please transfer the order amount to this bank account:" is fix and wi

[2017-12-12 09:18] fjbender commented on #138
Thanks for your feedback. I agree, the implementation as it is is not very useful. We had the urgent requirement to add the bank data at all, so it was done without regard for some useful additions.

We'll need some time, but will get back to it and improve with your suggestions.

[2017-12-12 10:27] fischamhaken commented on #138
Hi Florian,

thank you for your quick feedback. :-)
Such things are a pity, because they bring the developer in dilemmas.
In my case, I must now consider whether I upgrade or not and then have to program an exception to the exception.... always at the risk that the next upgrade the functionality changes again and I have to hand again.

But I'm just waiting hopefully.

Best regards,
Stefan

[2017-12-14 11:13] david-fuehr commented on #121
The code looks good to me. Currently I am not able to set up a test scenario either. I'll give an update, as soon as I can test it.

[2018-01-10 09:13] sydekumf opened #141 "Alter module so that it can be used in a request free context"
We use your module in several Magento instances of our customers. As we have complex requirements which make it necessary to trigger captures/debits etc on command line automatically and NOT in the backend manually, the module should be changed.

There are many places in the code where the module **expects** a backend context. For example, it is not possible to reset the Base request class and its

[2018-01-11 12:21] fjbender commented on #141
I think we have already discussed a similar topic in #92, with this ticket being the more generic one. We have added #92 to our backlog already and will take a look at it :)

[2018-01-12 07:07] sydekumf commented on #141
Okay, that sounds great :-)

[2018-01-12 07:07] #141 closed

[2018-01-12 14:57] nixn commented on #134
I have that issue too. A fresh completely untouched installation of Payone on Magento 2.1.10, PHP 7.0. Added an article to the cart and called `/checkout/cart`.

The stack trace is as follows:
[code]

Tracing with xdebug led me to some more information: the full value in `#1` is `{"Number_type":"tel","Number_count":"30","Number_max":"16","Number_iframe":"standard","Number_style":"standard","CVC_ty

[2018-01-12 15:48] sydekumf opened #142 "Partial capture of an order of 2 simples of the same configurable is wrong"
**Precondition:**
- Place an order with 2 simples of one configurable (i.e. T-Shirt with two sizes)
- Create an invoice in the backend with **one** of the two products

**Expectation**
- An Invoice/Capture with exact this **one** product is made

**Actual result**
- The Payone module tries to capture both simples, and of course this throws an 1610 - Wrong article list error

**Explanation**
- ```P

[2018-01-15 06:49] fjbender commented on #142
This possibly duplicates #121

[2018-01-15 07:32] fjbender commented on #134
@nixn As a workaround you can patch `Helper/Base.php` to always use `json_decode()` instead of `unserialize()`:

[code]
This is not ideal and we'll take a look why the data is stored in json in the database the first place.

[2018-01-15 11:20] nixn commented on #134
Thanks for your hint, I've written a plugin to override these two methods:

[code]

I'm using this plugin for `Helper\HostedIframe` only, but it could be used for every class deriving from `Helper\Base`. I did not had any other wrong calls for this yet, so it's sufficient for now.

`di.xml`:
[code]

[2018-01-15 14:30] #142 closed

[2018-01-15 14:31] sydekumf commented on #121
Works fine for debits now, invoices/capture not explicitly tested as we have a different workflow for that. But debits (Gutschriften) work perfect, thanks.

[2018-01-15 15:51] fjbender commented on #121
Thanks for the feedback!

[2018-01-15 15:51] #121 closed

[2018-01-16 12:21] niclashoyer opened #143 "Support HTTP X-Forwarded-For Header"
The Magento 2 extension currently does not support the `X-Forwarded-For` header. We run our Magento 2 installations behind a reverse proxy and as such the IP that the extension uses is always `127.0.0.1`. It is currently not possible to receive transaction status messages. We'll add `127.0.0.1` to the allowed IPs as a workaround.

[2018-01-18 09:17] fjbender commented on #143
@niclashoyer Can you confirm #145 fixes this issue?

[2018-01-18 11:44] fjbender commented on #134
Can any of you confirm that #144 fixes this issue? Basically, we don't really care anymore whether the objects were saved with `serialize()` or as JSON.

[2018-01-22 08:59] #134 closed

[2018-01-29 10:29] steros opened #148 "undefined index: status"
If no status is in the response (for whatever reason, service down, timeout maybe) this line fails:

https://github.com/PAYONE-GmbH/magento-2/blob/3ab1564553ff2e694fad914dd60aaf79bd3875f9/Model/Api/Request/Base.php#L287

[2018-02-13 10:56] fischamhaken opened #150 "Show speaking error messages if fields are not filled out correctly"
Hi together,

with M2.1.7 and Payone Extension 1.3.5 I have following issue:
If csutomer steps through checkout and fills in incoorect address values, the following message appears:
"An error occured on the server. Please try to place the order again"
In Payone API protocol I can see the problem, i.e. customer has filled field "Company" with "-".
Then Payone send back custom error message:

custom

[2018-02-15 08:41] petertroeger opened #152 "Error 1611 - Capturing when id contains an slash '/'"
Can someone confirm this?

How to reproduce:

1. Create product with an id containing a / i.e. 'CD23445-white/blue'
2. Try to submit the invoice (send a capture to Payone)

Error: 1611
Parameter {id[n]} faulty or missing

Plugin Version 1.3.6
Magento 2.1.10

[2018-02-15 09:25] fjbender commented on #152
@petertroeger can you tell me date, time and Merchant ID for this request in a message to integrations@bspayone.com? Thanks!

[2018-02-16 09:26] fjbender commented on #152
The / was not the issue here, SKU was too long for the id[n] field.

[2018-02-16 09:26] #152 closed

[2018-02-19 14:26] #143 closed

[2018-02-19 14:53] steros opened #153 "provide information about release cycles"
For me it's entirely unclear when a release will happen.
As the master is not a definite, clean and tested build. One has to rely on releases in production.
Unfortunately the master often contains critical bugfixes. Yet it takes very long until a new release is submitted. Also it is not clear when such a release will happen at all.

Please provide some information like:
- how often do you build
-

[2018-02-19 15:00] fjbender commented on #153
We have identified the unclear release cycle as a potential problem as well, and I'd like to take in suggestions on what is preferred by customers, developers, and agencies.

Would you prefer:
* A periodic release cycle: e.g. monthly, bi-weekly etc.
* A release cycle based on the contents (i.e. whenever a certain amount of changes come around)
* Something entirely different

We definitely don't re

[2018-02-19 15:32] FatchipRobert commented on #92
@sydekumf I just added a new pull request concerning this problem.
I added a new option to send the order items to the invoice and the creditmemo calls without a request context. ( PayoneMethod->setInvoiceData(), PayoneMethod->setCreditmemoData() )
I also added that the Payone Request object resets itself after a finished call, so that the request can be executed again for another call.

[2018-02-19 15:47] sydekumf commented on #92
Okay thanks, is this everything which needs to be reseted?
We have overwritten several pieces of the Payone module, and we similar reseted some variables etc. But there always have been further issues (when article data overwrites itself and so on) and we debugged further and found out more code which has to be rewritten. But if you say, this is everything, than it's fine :-)

[2018-02-19 15:59] FatchipRobert commented on #92
Well I dont know of all your problems - since we never use the module in the way you do.
I just fixed the issues you mentioned here.
If there is more stuff that needs to be fixed, then you could add more information about those problems.

[2018-02-20 09:07] steros commented on #153
I guess a periodic cycle would be best for continuity. But a monthly release cycle might be too slow for critical bugs. ( Although better than nothing ^^ )

A release cycle based on contents would need to be split though.
- Immediate releases for critical bug fixes
- less frequent for non critical bugs
- intermittent releases for new features if committed

Maybe a mix of both can be achieved? Like

[2018-03-07 11:00] josefbehr opened #157 "Wrong amount/currency, if display currency not equal to base currency"
If, for a website in Magento2, the base and display currency differ like here
![screen shot 2018-03-07 at 11 55 30](https://user-images.githubusercontent.com/4368880/37088734-a9fa1cda-21fe-11e8-8fbf-ccbdb5976f25.png)

then the capture/authorization request sent to PAYONE is sent using the amount in base currency (eg EUR), but the currency symbol used for the order (eg SEK), such that a wrong amoun

[2018-03-09 07:35] mautz-et-tong opened #158 "Order Edit in Backend not possible"
Magento 2.2.2
Payone_Core v2.1.0

When trying to edit an order in the backend, the following error appears:
Invalid template file: 'form/base.phtml' in module: 'Payone_Core' block's name: 'payone_obt_ideal'

The form/base.phml is in the frontend template folder.

(Stupid Quick Fix: cp base.phtml to view/adminhtml/templates/form/base.phtml)

[2018-03-14 08:09] fjbender commented on #150
In theory, we already pass on the customer message: https://github.com/PAYONE-GmbH/magento-2/blob/master/Model/Methods/PayoneMethod.php#L119

I suppose the error message is generic due to a missing translation?

[2018-03-14 08:38] fjbender commented on #157
This is definitely a bug. We'll fix it so that the base currency is used for all payment operations (as defined by Magento).

[2018-03-14 08:53] fjbender commented on #158
Where exactly does the error message appear? I can't really find it anywhere. However, it makes sense that something is wrong because the template is not in the adminhtml folder.

[2018-03-14 09:51] ostukalovprovectus commented on #157
We're facing the same issue. However, we have a use case, when for the main store we have PLN, but another store view will show the same products converted in EUR (base currency PLN, prices displayed in EUR). And for this store view the charge should happen in EUR. Please advise.

[2018-03-14 10:02] fjbender commented on #157
Okay, so what we'd need is a configuration option where the merchant is able to choose on a per-storeview basis whether they want to charge using base currency or display currency, right?

[2018-03-14 10:10] ostukalovprovectus commented on #157
Exactly. How do you think, how much time can take this fix? As we're going live and it's blocking us atm.

[2018-03-14 10:12] fjbender commented on #157
I can't tell exactly right now, but I suppose we'll need at least two week due to high developer load, sorry. However, you're always welcome to support us with PRs.

[2018-03-19 10:57] josefbehr commented on #157
@fjbender @ostukalovprovectus
I just created a pull request that addresses the issue: https://github.com/PAYONE-GmbH/magento-2/pull/159

[2018-03-20 10:37] steros opened #160 "Invalid template file"
Since switching from Magento 1.x to 2.x I get these errors often. Those are the only errors in my magento log usually.
Currently I'm on 2.1.11 with the plugin being version 2.1.0.
I'm using a custom template inherited from a custom base template.

[2018-03-20 10:43] steros opened #161 "Environment emulation nesting is not allowed"
I get this obscure error pretty often and hope someone might have encountered it too?
As far as I can see this is thrown as `Environment emulation nesting is not allowed` in `app/code/Magento/Store/Model/App/Emulation.php:startEnvironmentEmulation()`.
Which up the code is triggered from emailing. Which in my magento setup only happens through the payone plugin when invoicing.

[2018-03-20 13:43] fjbender commented on #160
I have never encountered this error. Maybe just copying view/frontend/templates/form/base.phtml into your template solves the issue? It seems like the other templates are not affected (i.e. credit card processing works)?

[2018-03-20 13:50] fjbender commented on #161
Just by `grep`ing through the code I'd say we don't use `startEnvironmentEmulation()` anywhere. Maybe it's caused by some race condition? Or does it happen systematically for all payone invoicing emails?

[2018-03-20 14:16] steros commented on #161
if, you don't use it directly.
startEnvironmentEmulation() is called in:
- app/code/Magento/Email/Model/AbstractTemplate.php:applyDesignConfig()
- **app/code/Magento/Payment/Helper/Data.php:getInfoBlockHtml() which does: "Render payment information block"**
- app/code/Magento/ProductAlert/Model/Email.php:send()

Especially the second one made me think, it might be related to the plugin.

[2018-03-20 14:21] steros commented on #160
All payment methods I use, and who are mentioned in the errors, work as expected. I'm not even sure something is "wrong" except the error popping up.
Also other payone templates are loading like for credit card or debit confirmation.

[2018-03-22 10:20] fjbender commented on #157
I tested the PR and I am still encountering problems concerning the item list. The currency configuration is not handled there; articles are always transmitted in the Display Currency while shipping is always transmitted as Base Currency, which leads to an inconsistent cart. We're looking into this.

[2018-04-04 10:39] #157 closed

[2018-04-05 12:36] mautz-et-tong commented on #158
The error appears, if you click edit on an order in the backend order list.
Error:
`1 exception(s):
Exception #0 (Magento\Framework\Exception\ValidatorException): Invalid template file: 'form/base.phtml' in module: 'Payone_Core' block's name: 'payone_obt_ideal'

Exception #0 (Magento\Framework\Exception\ValidatorException): Invalid template file: 'form/base.phtml' in module: 'Payone_Core' block's

[2018-04-05 14:05] mautz-et-tong commented on #158
I can confirm: still not fixed in v2.2.0.
In Backend, go to sales->orders.
Select an order by clicking View in the grid.
In the view with the selected order press edit, click ok in the PopUp

[2018-04-05 15:00] steros commented on #158
Maybe this is related? #160

[2018-04-06 11:43] fjbender commented on #160
This is a duplicate of #158

[2018-04-06 11:43] #160 closed

[2018-04-06 11:44] fjbender commented on #158
Yes, I think #160 is the same issue, I closed it in favor of this issue.

I was able to reproduce it and we'll get it fixed.

[2018-04-07 17:44] Annie-Mi opened #166 "site down after install"
Warning: PDOStatement::execute(): MySQL server has gone away in vendor/magento/zendframework1/library/Zend/Db/Statement/Pdo.php on line 228

[2018-04-09 06:09] fjbender commented on #166
I'm not sure if this error is related to the module alone. There seems to be a problem with the database server.

[2018-04-09 14:38] juules opened #167 "Addresscheck is not working for addresses from the addressbook"
Hi together,

with M2.1.12 and Payone Extension 2.0.2 I have the following issue in the checkout:

When the customer is choosing an existing shipping address out of his addressbook instead of a new address there is no addresscheck like adding a missing whitespace between the street and house number.

Steps to reproduce:
- Go to the addressbook in the customer account
- Add a new shipping address a

[2018-04-10 07:08] fjbender commented on #167
Thanks for your feedback. I could reproduce this issue.

My intention is to fix it in a way that "unchecked" addresses are checked during checkout (to prevent the customer from adding a zillion addresses and triggering an address check each time) and the corrected address is saved back to the database. Then, if the address is used again at a later time, the corresponding lifetime setting is checke

[2018-04-10 11:01] juules commented on #167
Thank you for your quick answer.
Your way to fix this problem sounds really good. Until when do you think this issue can be fixed? Our client has a lot of trouble with wrong addresses and would need this fix as soon as possible.

[2018-04-10 12:44] Annie-Mi commented on #166
![screenshot 1](https://user-images.githubusercontent.com/16383595/38557553-62b2be9c-3c9b-11e8-8dc9-a97c046d3b80.jpg)

[2018-04-10 13:03] fjbender commented on #166
Can you upload the stacktrace again in plain text with the MySQL credentials removed? Thanks.

[2018-04-10 18:49] Annie-Mi commented on #166
yes, of course.
thank you for the help

If I enable the module and do the upgrade command I'm getting immediately an error:
the last line is:
Module 'Payone_Core':
Installing data... Warning: PDOStatement::execute(): MySQL server has gone away in /vendor/magento/zendframework1/library/Zend/Db/Statement/Pdo.php on line 228

than if I check the site, it is gone:

[2018-04-11 04:26] Annie-Mi commented on #166
it has a problem with mirasvit search plugin. We'd need both plugins. how to fix it?
Thank you

[2018-04-11 06:06] fjbender commented on #166
As the plugin isn't available on Github, I can't file a bug report with them. Maybe someone from Mirasvit can help here and point out what's wrong.

I suppose you have some kind of support contact to them? Maybe you can point them here to tell us what went wrong.

[2018-04-11 09:36] juules commented on #167
Okay. Please just inform me when you have more information.

[2018-04-19 09:26] fjbender commented on #92
Anything new here @sydekumf @larsroettig ?

[2018-04-19 09:41] larsroettig commented on #92
@fjbenderI think we close this issue because of we already refactored the code base for refound.

best regards,

lars

[2018-04-24 10:31] brenohalabi opened #169 "Not working for multishipping"
Hi guys.

I'm facing a issue with payone for multishipping mode. Payone methods are not showing in multishipping billing page.

Is this feature already available?

Thanks in advance.

[2018-04-24 13:34] fjbender commented on #169
Hi,

Unfortunately, we can't offer this feature right now. Additionally, this would require some additional work on our side, because currently we only allow one shipping and one billing address. In theory, our API doesn't require an address for all payment methods (however, most of them require at least a billing address, some require a shipping address), but it would involve a lot of hacking to

[2018-05-03 12:54] fjbender commented on #167
@juules we're still working on this, it turned out to be a little more complicated than initially thought.

[2018-05-16 20:25] brenohalabi opened #175 "API Documentation"
Hi there.

I need to send to payone a notification for order cancelation. As I've looked, the module is not handling it. Am I right?

Is there a API documentation for customize it?

Thanks.

[2018-05-22 11:35] fjbender commented on #175
Hi

unfortunately, there is no technical documentation for the module itself. For the Payone-API there is an API description, of course.

From scratch, you'd need to hook up to the "cancel" button and then construct a capture request with the amount=0.

[2018-05-22 18:01] brenohalabi commented on #175
Hi. Thanks for answer.

Can you share Payone-API?

[2018-05-23 06:00] fjbender commented on #175
I sent you an email.

[2018-06-18 17:04] andidhouse opened #180 "Missing Documentation for M2 Payone Extension"
For magento1 there is a documentation you can download here (right side):
https://www.payone.com/plattform-integration/extensions/magento/

For magento2 there is no such documentation:
https://www.payone.com/plattform-integration/extensions/magento2/

Where do we find for example the TransactionStatus URL which is needed for the payone portal?
etc.

Thanks

[2018-06-21 06:21] fjbender commented on #180
The transaction status URL is https://youshop.host/payone/Transactionstatus/Index

Please find attached a preliminary version of the documentation, which will be uploaded to the website soon:
[PAYONE Payment Integration für Magento 2.0-v18-20180621_0817.pdf](https://github.com/PAYONE-GmbH/magento-2/files/2122371/PAYONE.Payment.Integration.fur.Magento.2.0-v18-20180621_0817.pdf)

[2018-06-21 06:21] #180 closed

[2018-06-21 06:56] fjbender commented on #180
In theory, both should work (the IndexAction should be the default one anyway). To be safe, you should use the URL ending in /Index. I'll fix the documentation accordingly.

[2018-06-21 08:57] crtl opened #181 "Serialization Issues after updating from 2.1.x to 2.2.x"
Hello,
ive upgraded from 2.1.11 to 2.2.4 but the serialization was not correctly migrated.
Ive got an exception telling me that values cant be unserialized because payone configs are stored serialized and not in json format.

Ive already implemented my custom fix which is a bit insecure workaround:

[code]

In `app/etc/di.xml` ive added the following and run `setup:di:compile` again.
[code]

[2018-06-21 12:59] fjbender commented on #181
Basically, this should've been fixed with PR #144. I'm wondering why this doesn't work in your case.

[2018-06-21 13:07] andidhouse opened #182 "Major issue in order process handling / event triggers"
Hi there,

there is a major issue when installed your extension on a clean system with the handling of order events.

Your extension "blocks" the internal magento order events which are used by many other extensions like mirasvit follow up email or web cooking ecommerce tracking (server side).

It seems that the payone extension somehow "blocks" or "removed" these native magento events totally. Fo

[2018-06-21 13:20] fjbender commented on #182
We have to rewire some of the events to delay for instance order confirmation e-mails, for instance to make sure that an order confirmation e-mail only gets send out when the customer completes a third party checkout (e.g. PayPal or Sofort). However, I'd expect things to continue smoothly from there.

Can you point me to an example event so I can trace where we possibly block it?

Thanks

[2018-06-21 13:28] andidhouse commented on #182
Hello Florian,

thanks for your quick reply.
One event for example is the "invoice created" event. This is for example used in the mentioned ecommerce extension from extension supplier webcooking.

Pls see the screen attached (screen1).

Before installing payone this works without a problem - after install nothing is transmitted any more.

Another event is for example the "sales / order status was

[2018-06-21 13:49] D-David11 opened #183 "After upgrade no any payment method working"
Hello, I was using your payone(2.0.2) in my magento(2.1.10) all were working well, but after upgrade payone version(2.2.1) all method get stop working.

I have downloaded the payone from here and overwrite the folder but now I am getting different error in all payment method in test mode.

Error #1 1077 - Expiration date invalid. Please check the information on the map. (by creditcard)
Error #2 An

[2018-06-21 14:28] fjbender commented on #183
Hi @D-David11, I'd advise you contact our Technical Support Team first. They'll be able to troubleshoot most problems concerned with updates.

Also please make sure you follow the standard Magento 2 upgrade procedure (installing/upgrading the module through composer, then running setup:upgrade from the Magento console etc.).

[2018-06-22 04:44] D-David11 commented on #183
Hello fjbender,

Yes, I have followed the magento standard and fire following command.
->php bin/magento setup:upgrade
->php bin/magento setup:static-content:deploy
->php bin/magento cache:clean
->php bin/magento cache:flush

I am the technical person, I have checked all the files to resolved but with no luck. when I restore old version all is working well but in new version no any payment method

[2018-06-22 06:21] fjbender commented on #183
Have you run `php bin/magento setup:di:compile` after `php bin/magento setup:upgrade`?

If yes, please contact our Technical Support Team so they can open an internal ticket with me. I'm not yet convinced this is a bug in the module.

[2018-06-22 09:15] AykutCevik commented on #158
@fjbender in which release will this be included and when can we expect this release? Thank you for the fix.

[2018-06-22 11:51] #167 closed

[2018-06-22 12:22] D-David11 commented on #183
Hello,

Can you share the link or email of your support team ?

[2018-06-22 13:02] fjbender commented on #183
Sure, you can use the form at https://www.payone.com/kontakt/support/ or just call them at +49 431 25968-500.

[2018-06-22 13:03] fjbender commented on #158
@AykutCevik We're aiming to have a release next week.

[2018-07-06 14:19] Tamahagane opened #185 "Frontend Context not preserved when invoicing manually in the backend"
I have a few shops www.frontendA.com, www.frontendB.com, www.frontendC.com which are all administrated by www.backend.com.

When an order is entered via www.frontendX.com the preauthorization happens with the frontend's respective ID.

If I want to manually create an invoice in the backend, the backend's ID is used for capturing, which leads to error 913 as the TxID apparently does not exist in th

[2018-07-09 10:07] D-David11 opened #186 "Debitcard not working in new version."
Hello,

I have updated payone to 2.2.1 in my magento 2.1.10. All payment method are working except debitcard. This payment method is in test mode and I am using following detail while payment.

Country : DE
IBAN : DE85123456782599100003

I am getting following error :
703 - The transaction could not be executed..

Note : All configuration are default only the mode is in test mode.

[2018-07-11 07:21] fjbender commented on #185
Thanks for your feedback, we'll take a look. Sounds like a bug to me.

[2018-07-11 08:39] fjbender commented on #186
@D-David11 Error 703 means that the transaction was denied due to the IP Velocity Check (too many orders from the same IP Address). For testing purposes it is advised that you disable all Velocity Checks in the Payone Merchant Interface. This is not a module issue.

For further information on the Velocity Check configuration, please contact our support team through phone or mail.

Thanks!

[2018-07-11 08:39] #186 closed

[2018-07-11 12:48] D-David11 commented on #186
Thanks,

But Now I am getting this error "This payment method is currently not available. Please use PayPal, credit card or Sofortüberweisung." in debit card.

[2018-07-11 13:11] fjbender commented on #186
This, unfortunately, also sounds more like a problem specific to your Merchant Account and not to the module - the Support Team will gladly help you.

[2018-07-18 11:42] fjbender commented on #185
@Tamahagane Can you confirm that #189 fixes the issue?

[2018-07-26 13:44] IIxauII opened #190 "Error 1611 - PayPal & Paydirekt"
I get the following Errormessage when trying to checkout with PayPal or Paydirekt:
In german: 1161 - Bei der Bearbeitung dieser Transaktion ist ein Fehler aufgetreten (Falsche Parameter)
In english: 1161 - An error occurred while processing this transaction (incorrect parameters)

I cannot find the reason behind this, what could it be ?

[2018-07-26 13:47] IIxauII commented on #190
Magento2 store is in developer Mode
both payment modes are in test mode

[2018-07-26 13:56] david-fuehr opened #191 "Feature Request: Amazon Pay"
We plan to use _amazon pay_ as payone payment method. As PayOne already supports this method:

Is there any information when this method will be implemented in magento2 module?

[2018-07-26 13:59] fjbender commented on #191
We currently have it on our roadmap. However, it is not quite finished yet.

Currently, creating a new order already works, but we're still working on error handling and backoffice processes. See https://github.com/FatchipRobert/magento-2/tree/MAG2-23-Amazon-Pay

[2018-07-26 14:04] fjbender commented on #190
I suppose it's error 1611 as 1161 is not defined.

Error 1611 indicates that the basket parameter `id[n]` is not valid, which usually is filled with the article number or SKU. Can you paste the request here? Be sure to blank out the key, aid, portalid and mid fields as well as all customer information.

[2018-07-26 14:58] IIxauII commented on #190
Thanks alot! You were correct. One of the products I had in my basket had an invalid SKU.
It works now, thx alot!

[2018-07-26 15:15] david-fuehr commented on #191
Thanks @fjbender for your fast response.

The last commit in that branch is from november 2017. Is there a planned release date?

Also: Who is maintaining this feature (@FatchipRobert ?) and is there a ticket system so that contribution would be generally possible?

[2018-07-27 05:36] fjbender commented on #191
We have been pushing it far back in our roadmap because demand was low and complexity is high.

All coordination of features is done by @hreinberger and me. We have a ticket system, however, it's internal and currently not open for contributors (as we never had the case that anybody wanted to contribute in a way that required them to join the ticket system).

If you contact me at integrations@bspa

[2018-07-27 07:56] IIxauII opened #193 "order confirmation email not getting sent"
Since I have added PayOne to my Magento2 store the order confirmation emails are not getting sent anymore.
I checked the mail logs but there are no error's, the mail doesn't get sent at all.
All other mail sending requests work (forgot password / manually sending order confirmation etc)
Could it be that the payment gateway is the issue here? skipping the mail sending process/not triggering the eve

[2018-07-27 08:01] fjbender commented on #63
Fixed with #140

[2018-07-27 08:01] #63 closed

[2018-07-27 08:02] fjbender commented on #193
Our module blocks order confirmation emails and sends them once the asynchronous notification about successful initiation of payment is received. This is to prevent order confirmation emails being send for orders that have not been completed on e.g. PayPal's side.

For this to work, please make sure that the notification URL ("Transaction Status URL") is set in the Payone Merchant Interface for th

[2018-07-27 08:10] #92 closed

[2018-07-27 08:11] #135 closed

[2018-07-27 08:11] #166 closed

[2018-07-27 08:12] #175 closed

[2018-07-27 08:12] IIxauII commented on #193
Thx for the information.
Is there an easy way to still get order confirmations for payment methods like:
* Payment in advance
* cash on delivery
* bill
Since currently I am not getting any order confirmations for those payment methods and have to send them manually

[2018-07-27 08:13] #183 closed

[2018-07-27 08:15] fjbender commented on #193
Those should be triggered by the same notification mechanism. If you don't get any order confirmation emails, can you check whether the transaction status notification is received? It should show up in the Transaction Status Log in the backend.

[2018-07-30 14:30] IIxauII commented on #193
any update on this ?

[2018-07-30 18:54] IIxauII commented on #193
Could it maybe be that I setup cronjob wrongs ? Is there a special cronjob for payone emails or something ?

[2018-08-02 12:00] #193 closed

[2018-08-28 13:06] niclashoyer opened #199 "Problems with order paid event since 2.3.0"
In the [`Observer/Transactionstatus/Paid.php`](https://github.com/PAYONE-GmbH/magento-2/blob/master/Observer/Transactionstatus/Paid.php#L79) the inline documentation states:

         * Generate an invoice for the order to mark the order as paid

but it seems that with the changes in #164 released in 2.3.0 the invoices are no longer generated. We've got an extension that does something if the orde

[2018-08-29 12:17] fjbender commented on #199
We are a little bit overdue for a release, indeed, as we're waiting for a larger feature. However, we can squeeze in a smaller release soon to make the bugfixes available to all.

[2018-08-31 09:15] marta-siew opened #200 "Payment details not align in order confirmation email in Outlook"
In an order confirmation email for Outlook 2016 / Office 365 payments details are shifted to the right and not align. Please consider fixing it as Magento 2 should support Outlook: https://devdocs.magento.com/guides/v2.0/frontend-dev-guide/templates/template-email.html

![zrzut ekranu 2018-08-31 o 10 42 06](https://user-images.githubusercontent.com/42863272/44904209-ddf88800-ad0e-11e8-9f4c-c1a1ea6

[2018-09-10 14:46] mfickers opened #203 "Shipment email uses backend locale."
The payment info block in the shipment emails is not translated into the frontend locale properly. I'm sending the emails via backend, but shipment emails should always be considered frontend so I think this is a bug.

German frontend, English backend:
![bildschirmfoto 2018-09-10 um 16 37 24](https://user-images.githubusercontent.com/12683535/45304411-597ce500-b518-11e8-87c7-0ccf2913b631.png)

Ger

[2018-09-11 08:05] fjbender commented on #203
I'm not entirely sure this is within the realm of our module. As far as I see it, we're using the `__` wrapper which should take care of selecting the right locale.

[2018-09-23 08:30] chopemann commented on #191
Are there any news about this topic? We are also waiting for the amazon pay integration.

[2018-09-24 06:42] fjbender commented on #191
This feature is currently in active development again. We expect some updated commits in the branch linked above during this week.

[2018-09-27 14:47] chris-exu opened #205 "2.3 - Problems with telephone number and validation in payment method Klarna"
Problem 1: Klarna seems to require a valid telephone number for every order, otherwise you get an error message „Wrong parameters“ (Bei der Bearbeitung dieser Transaktion ist ein Fehler aufgetreten (Falsche Parameter).). The problem is, when telephone is set to optional in the customer configuration, and the customer has not entered it, it’s not possible to pay via Klarna because the additional in

[2018-10-11 08:46] niclashoyer opened #208 "Transaction status received/processed multiple times"
We've got a strange issue regarding transaction status. On some orders the "appointed" and/or "paid" transaction status messages are processed twice (with a delay of about an hour). According to Payone support they just sent *one* message and the shop answered with `TSOK`.

In the backend we see this in the order comments:
![bildschirmfoto von 2018-10-11 10-42-12](https://user-images.githubusercon

[2018-10-17 07:28] niclashoyer commented on #208
We are currently monitoring the response of the shop to the transaction messages, so we can better understand what is happening if it fails again. I'll reopen if we find something.

[2018-10-17 07:29] #208 closed

[2018-10-23 08:05] niclashoyer opened #210 "Problems with free order items / vouchers and PayPal"
We've got some failing requests with PayPal payment which seems to deny line items with zero price amount. The support told us that we either have to

 - send line items with price "0" as type "voucher"

or

 - do not send order items at all to PayPal

Is any of this configuration possible? I had a look in the configuration, but I did not find such settings.

[2018-10-23 14:05] hreinberger commented on #210
Hi @niclashoyer
if you don't use any payment methods which require sending the cart items you could deactivate this feature under PAYONE --> General

[2018-10-23 14:39] hreinberger commented on #210
Hi again,
I dug a bit into the plugin and found this "hidden feature" 😄. If you disable the cart data globally (via the option above), payment methods which require cart data still send it. So even if you use our safe invoice you should be fine by disabling the cart data.

I tested this with our safe invoice, Klarna and Paysafe Invoice, so you should do some testing with your specific payment meth

[2018-10-24 07:28] niclashoyer commented on #210
Ah, okay, that wasn't really clear to us. We'll disable the transfer globally now and check the results. I'll reopen if something goes wrong.

[2018-10-24 07:28] #210 closed

[2018-11-07 14:38] niclashoyer opened #212 "Custom fields in PMI"
We have some custom fields on the order that our customer would like to have in Payone PMI for their accounting process.

Is there any possibility to send extra fields using the extension? Or maybe an event we could attach to? I don't know if it is possible to send extra fields via Payone API at all.

[2018-11-07 15:14] hreinberger commented on #212
Hi @niclashoyer
our API supports the individual parameter "param" for dynamic use, though this doesn't get shown in the merchant's PMI. You could change the behavior of existing parameters to show more info, for example by altering the "reference" parameter from showing the incrementId to something more suiting e.g. here: https://github.com/PAYONE-GmbH/magento-2/blob/4baaa8e5c1196b1acf56c844b99ee4

[2018-11-07 15:22] niclashoyer commented on #212
Thank you for the quick response! I'll close this for now. The `ref_prefix` may be suitable.

[2018-11-07 15:22] #212 closed

[2018-11-14 07:29] andreaspenz opened #213 "Article list faulty or incomplete - Magento API"
Hello,

i encounter an error in Magento v2.2.6 and your Module v2.2.0.

Reproduce the Problem:

- Place a new order in Magento with multiple items and pay with CC / Visa (in my case 3 items)
- Create a new invoice trough the Magento-API for some of the ordered items (in my case the first 2 items) with a request similar to the following:

[code]

The response from the Payone-API is "Article list fa

[2018-11-14 07:33] fjbender commented on #213
Do you have the Payone TXID for that transaction? I'll check the logs.

[2018-11-14 07:36] andreaspenz commented on #213
The TXID is 299524879

[2018-11-14 07:47] fjbender commented on #213
For the capture request, all items are sent, but the amount is correct.

Maybe there's a bug in \Payone\Core\Model\Api\Request\Capture::getInvoiceList. I'll see if I can test this further.

[2018-11-21 16:16] domeglic commented on #135
I have the same problem and it is not a rounding error. The request is missing the discount position entirely.
If the discount is a coupon then it worked, but if the discount is an automatic cart rule then the discount position is missing.

Magento: v2.2.6,
module: 2.4.0

[2018-11-22 08:01] domeglic commented on #135
[This](https://github.com/PAYONE-GmbH/magento-2/blob/v2.4.0/Model/Api/Invoice.php#L219) condition is false when a discount without a coupon is used.
`$oOrder->getCouponCode()` should probably be removed from that condition entirely.

[2018-11-23 10:31] hreinberger commented on #135
Seems like this should have been fixed by #207 can you confirm this @domeglic ?

[2018-11-23 10:32] #199 closed

[2018-11-23 10:38] fjbender commented on #213
I couldn't try anything out yet. However, I have the feeling that the problem is here:

https://github.com/PAYONE-GmbH/magento-2/blob/a43fd28a0f7aad62574dcd8871d8cd2c39126b72/Model/Api/Request/Capture.php#L73-L101

This method relies on the Base Helper to pass the invoice parameter from the request:

https://github.com/PAYONE-GmbH/magento-2/blob/a43fd28a0f7aad62574dcd8871d8cd2c39126b72/Helper/Base

[2018-11-23 11:06] domeglic commented on #135
Yes that does fix it. But the version I use is from git tag 2.4.0 so this was not included. But this issue can be closed as it is actually resolved

[2018-12-05 07:10] fjbender commented on #182
Sorry for the delay in analyzing this. However, we couldn't find any issues. Our developers wrote a test module to consume the same events and it worked smoothly. Can we rule out that there's an incompatibility in the plugin you're using?

[2019-01-09 11:30] derendo opened #220 "creditcard checkbox"
When entering CC number and forget to check the checkbox "Payone Creditcard" and then go on "buy now" ... nothing happens.... order doesn't get finished. So its a must to check the checkbox "Payone Creditcard" to finalize an order. Can this be coded in so that if someone enters a CC number the checkbox gets checked automated? Or is that fixed alsready in one of the releases? Thanks

[2019-01-09 13:21] fjbender commented on #220
I'm not quite sure I understand which checkbox you mean. Can you maybe provide a screen shot?

[2019-01-09 13:30] derendo commented on #220
If I don't click on checkbox "Payone Creditcard" and order system doesn't finish order. Only if its checked it finishes the order
<img width="243" alt="bildschirmfoto 2019-01-09 um 14 28 05" src="https://user-images.githubusercontent.com/46521030/50902403-1590e280-141b-11e9-9702-3882789d63f5.png">
So the way you see here it doesn't work

[2019-01-09 13:41] derendo commented on #220
<img width="245" alt="bildschirmfoto 2019-01-09 um 14 41 04" src="https://user-images.githubusercontent.com/46521030/50902928-9f8d7b00-141c-11e9-9471-080c66bb64b8.png">
That way it works

[2019-01-09 13:53] fjbender commented on #220
This is weird, because in the default template, the credit card input fields don't show up as long as the "Payone - Creditcard" radio button is not triggered.

[2019-01-09 13:56] derendo commented on #220
yes that would make sense if they don't show up until the button is triggered.

[2019-01-09 13:58] fjbender commented on #220
This is the default behavior. I would guess that your template somehow overrides this.

[2019-01-29 09:35] derendo opened #223 "Missing sender in invoice email started by payone"
If we use the setting where payone triggers the send of the invoice email automatically if paid signal comes in then the email contains no sender in runs in SPAM.
If we set it to NO as in screenshot.... then send email out manually then we get sender in email and everything is fine. So could it be that your signal to send out the email doesn't contain the email sender?
![bildschirmfoto 2019-01-29

[2019-01-30 07:36] derendo commented on #223
<img width="909" alt="bildschirmfoto 2019-01-30 um 08 35 38" src="https://user-images.githubusercontent.com/46521030/51965515-15a85f00-246a-11e9-8fee-2dba0ef03337.png">

Thats how it appeares in SPAM folder then

[2019-01-30 13:23] derendo commented on #223
Magento ver. 2.2.6
Mageplaza smtp extension version 1.2.6

[2019-02-11 11:31] #220 closed

[2019-02-11 11:39] derendo opened #225 "magento 2.3 compability"
Can you tell us if Payone module runs already on magento 2.3 ? Thanks

[2019-02-11 11:49] hreinberger commented on #225
Hi @derendo, our latest release is compatible with magento 2.3.x https://github.com/PAYONE-GmbH/magento-2/releases/tag/v2.5.0

[2019-02-21 08:13] ostukalovprovectus opened #226 "Bug in extension crashes Magento when a store view is removed"
When a store view is removed from Magento 2 (2.2) with installed PayOne extension, Magento crashes with an error:

You keep in the config information such as
`# config_id, scope, scope_id, path, value
'818', 'store', '7', 'payone_protect/creditrating/payone_consumerscore_sample_counter', '99'
!!!`

But Magento does not have a scope **store**, but it has a scope **stores**!

And when a Store View i

[2019-02-21 08:16] T-Kuchel commented on #226
Hello @ostukalovprovectus ,

thank you for this information!
Are there any further details on this issue? Maybe a log or something else?

regards
Timo

[2019-02-21 08:46] AntonKryvoruchko commented on #226
Here:
https://github.com/PAYONE-GmbH/magento-2/blob/adc1d10118d5ea2236e72bbbce4dfac46a9b468b/Helper/Consumerscore.php#L103
you use wrong scope constant:
ScopeInterface::SCOPE_STORE
instead of
ScopeInterface::SCOPE_STORES
You have to use ScopeInterface::SCOPE_STORES because when magento remove store it use in
https://github.com/magento/magento2/blob/32e14dbda4da211f86fc25ef62a42378448fa434/app/code

[2019-02-21 08:49] T-Kuchel commented on #226
Hello @ostukalovprovectus ,

many thanks!
We will investigate on this and come back to you as soon as possible.

regards
Timo

[2019-02-26 09:33] lfritsche opened #227 "CreditCard not initializing - Payone not defined"
Hi there Payone Team,

I'm facing an issue using the latest version on M2.2.6, developer mode & Payone methods in test-mode. Every Payone payment method is working fine except for creditcard.

This is the console error:

[code]

And as you can see in the screenshot below no Iframe was loaded:
![image](https://user-images.githubusercontent.com/15127451/53402242-a7e04c00-39b1-11e9-917e-71e4c975b61e.

[2019-02-26 10:48] T-Kuchel commented on #227
Hello @lfritsche ,

this can be caused by several things.
Wrong configuration of the creditcard-parameters in between the PAYONE configuration or a Javascript hickup in your shop (collision of other js methods from other modules).
Best way to find out the root cause is to deactivate other activvated modules in your shop until this error will not occur.

If this wont help, you should get in contact

[2019-03-05 23:12] lfritsche commented on #227
Hi Timo,

thank you for your help.
I found out, that our Aheadworks Extension defines its own onestepcheckout_index_index.xml which does not include the client_api.phtml etc...
Is working fine now ;)

Regards
Leander

[2019-03-05 23:12] #227 closed

[2019-03-11 20:27] lfritsche commented on #227
Hi @T-Kuchel , one additional question:
I'm using the Aheadworks Onestep Checkout as it brings some quite nice improvements with it.

With the extension enable the redirect to external payment providers always gets skipped -> direct redirect to the success page. It seems like the extension skips your Redirect Controller (and probably other Controllers too). Which configuration or preference could

[2019-03-12 06:13] T-Kuchel commented on #227
Hello @lfritsche ,

This seems to be a wrong behavior. For paymentmethods like PayPal or creditcard with 3D-secure you must go to an external page. This could not be forced by any option or configuration, because its mandatory. I am not very familiar with this extension but that sounds wrong.

The best advice i can give you is to get in contact with our technical-support team, to check this with a

[2019-03-12 10:28] lfritsche commented on #227
Hi @T-Kuchel together with Aheadworks we found the solution:

![image](https://user-images.githubusercontent.com/15127451/54193105-b2bed480-44b9-11e9-9eb6-c2eb88f06d62.png)

Aheadworks needed an additional handle request on placeOrder - therefore we extended the payment/method-renderer/base.js

Regards,
Leander

[2019-03-14 10:19] hreinberger commented on #48
sooooo after further consideration we decided to not implement this. We could have used some kind of CDN for the delivery, but some merchants actually use monochrome versions of the logos or show them on other sites. For us it seems like we can't offer a sweet solution for all merchants, so there's always need for customization. We offer the logos for download on our site here though for easy acce

[2019-03-14 10:19] #48 closed

[2019-03-14 10:23] hreinberger commented on #65
fixed in #140

[2019-03-14 10:23] #65 closed

[2019-03-14 13:22] #225 closed

[2019-05-02 13:03] anas2ansari opened #233 "Displaying Error while submitting details magento 2.3"
I have installed and configured the payment gateway but it is showing error after submitting the payment details.

Internal Error. Details are avaialble on magento log file. Report ID webapi-5cc968xxxx
on the log file getting below error message.
var/log/exception.log:[2019-05-01 11:15:51] main.CRITICAL: Report ID: webapi-5cc97fe712dc6; Message: Validate class not found from basename 'Magento\Fram

[2019-05-02 13:30] fjbender commented on #233
I'm not sure if this is related to our plugin. I think, we're not using that validator. My first instinct would be to recompile the DI info using `bin/magento setup:di:compile`

[2019-05-03 05:38] anas2ansari commented on #233
Have Upgrade setup, Compile and redeployed still facing same issue. Any further suggestion

[2019-05-03 06:39] fjbender commented on #233
Does this issue also occur with our module deactivated?

[2019-05-03 06:43] anas2ansari commented on #233
No

On Fri, 3 May 2019, 12:09 Florian Bender, <notifications@github.com> wrote:

[2019-05-03 08:21] fjbender commented on #233
Okay, seems weird to me and we'd need to investigate further. Please contact our Technical Support Team at tech.support@bspayone.com referencing to this issue and stating your merchant ID. Ideally, you can attach a configuration export as well. We'll then try to reproduce the issue.

[2019-05-03 08:22] anas2ansari commented on #233
Ok sure thanks.

On Fri, May 3, 2019 at 1:51 PM Florian Bender <notifications@github.com>
wrote:

--

*Thanks & Regards*

*Anas Ansari *
*Contact: +91-9990798771*

[2019-05-07 07:20] skymeissner commented on #233
Sounds more like an M2 issue to me.
https://github.com/magento/magento2/issues/10821

[2019-05-09 07:14] fjbender commented on #233
From reading through magento/magento2#10821 I strongly agree that this is a Magento issue, will close this here.

[2019-05-09 07:14] #233 closed

[2019-05-10 13:44] Neos2007 opened #235 "Order items data send to Payone but not visible in Transaction details on PayPal"
The problem that using PayPal payment via Payone, in PayPal account of the customer, on the transaction details page is not rendered ordered items data (in Order details table) which is usually available if the order was placed via Magento core paypal module.
In Magento Payone module  configuration set Transmit Invoice Information to "Yes"
![image](https://user-images.githubusercontent.com/1788382

[2019-05-10 13:54] fjbender commented on #235
Hi,
This should work, I can't reproduce this issue.
Can you specify one affected Payone Transaction ID?

[2019-05-10 15:51] Neos2007 commented on #235
Hi @fjbender.
Examples of  Payone Transaction IDs (different orders) : 332567101, 332564672, 332542252
All orders were created in sandbox mode.

[2019-05-13 07:56] hreinberger commented on #235
Hi @Neos2007,
thanks for providing the IDs. I did some digging and found that your Shop is talking to our API the right way. The issue was in your merchant account. There was an ancient ignore_items flag active, which I just deleted.
So any future tests should now show the cart items at PayPal. Could you try it once again?

[2019-05-14 07:03] #235 closed

[2019-05-28 11:37] #148 closed

[2019-06-11 07:17] jakobmeissner opened #241 "Numbers in payone_protocol_transactionstatus must be stored as decimal"
Price, balance and receivable in payone_protocol_transactionstatus are currently stored as floats. But money values should be stored as decimals to prevent rounding differences.

I currently have an issue where the Payone Platform correctly sends me a receivable of 23270.28,  but
1) selecting this with mysql without explicitly casting it to decimal results in an incorrect value of 23270.3
2) the m

[2019-06-11 09:05] fjbender commented on #241
I think we have addressed this issue in #234. Can you still reproduce this with `dev-master`?

[2019-06-12 06:53] jakobmeissner commented on #241
I did not check dev-master but since you changed the table columns, I'm confident It's done.

[2019-06-12 06:53] #241 closed

[2019-06-15 07:22] oliverf72 opened #245 "Update fails via Extension Manager"
Hi, while updating we receive the following error:
Check Component Dependency
We found conflicting component dependencies. Hide detail

Command "require" failed:
In ArtifactRepository.php line 61:

RecursiveDirectoryIterator::__construct(repo/): failed to open dir: No such
file or directory

require [--dev] [--prefer-source] [--prefer-dist] [--no-progress] [--no-suggest] [--no-update] [--no-script

[2019-06-17 06:53] fjbender commented on #245
Hi @oliverf72,

It is recommended to user composer on the commandline, e.g. `composer update payone-gmbh/magento-2`.

If this doesn't work, please provide more details about your system environment, i.e. versions of Magento, PHP, Composer and our extensions, as well as the output of `composer -vv update payone-gmbh/magento-2`.

Thanks
Florian

[2019-06-25 15:58] bjoern-flagbit opened #247 "Plugins always call AddressCheck Ajax/WebApi"
The AddressCheck is always executed for Ajax-Calls or WebApi-Requests.
Also when the AddressCheck is NOT enabled in the backend.
This slows down the Checkout/Requests depending on how many quotes you have in your system.

**See here:**
https://github.com/PAYONE-GmbH/magento-2/blob/342801016a66a199c52bb7e97f9beb30d728b496/Model/Plugins/ShippingAddressManagement.php#L84

**And here:**
https://github

[2019-06-26 09:31] T-Kuchel commented on #247
Hello @bjoern-flagbit ,

thank you for this helpful hint.
We will check that issue and come back to you with the results.

Greeting from Kiel

[2019-06-27 05:34] T-Kuchel commented on #247
Hello @bjoern-flagbit ,

right before the request will be executed, there is a check if the execution is enabled:
https://github.com/PAYONE-GmbH/magento-2/blob/master/Model/Api/Request/Addresscheck.php#L155

It is possible that this is very late and many lines of codes are processed. Maybe we should/could think about it to makes this a little bit earlier.

What is your advice or how would you solv

[2019-06-27 08:37] bjoern-flagbit commented on #247
This is nice to know, I did not found it 👍 Thx

But still the main problem is when you have to many quotes it will always do collection calls ... and this slows down ... because the code try to copy the old value from addressCheck ... So my advice is to do nothing with the quotes when the AddressCheck is disabled.

[2019-07-02 14:40] bheindl opened #248 "Incompatibility with Magento 2.3.2"
The current workaround to pass CSRF validation in Payone\Core\Controller\Transactionstatus\Index line 118 - 123 does not work anymore.

CSRF validation has changed in Magento 2.3.2: Request Param "ajax" is set to true inPayone\Core\Controller\Transactionstatus\Index. But Magento\Framework\App\Request\CsrfValidator does not check for this param anymore, but for $request->isXmlHttpRequest() (line 75

[2019-07-03 05:27] T-Kuchel commented on #248
Hello @bheindl ,

thank you for this useful hint. We check this and come back to you with further informations or in best case with a fix of that.

Greetings

[2019-07-09 09:44] #248 closed

[2019-07-09 10:57] alexandergolz opened #253 "Orders with virtual products get wrong status "Closed""
Orders in our magento 2.3.2 shop with virtual products like downloads get the status "Closed" instead of "Complete" after the transaction status "paid" is submitted from Payone. After reading the magento docs I think this is the wrong status. Also the button for credit memo (Gutschrift) is missing in admin in these orders and corresponding invoices. This seems to be even the main reason for this:

[2019-07-15 14:57] berwa opened #254 "release for compatibility with Magento 2.3.2"
The latest available release (2.6.0) is not compatible with Magento 2.3.2 as it lacks the changes from https://github.com/PAYONE-GmbH/magento-2/issues/248 that were added to the master branch after the release.
Are there already plans to provide a new release that includes these changes?

Thank you and Best regards

[2019-07-16 06:44] fjbender commented on #254
We have loose plans for a release. However, there are still some changes pending that we would like to include (for instance Amazon Pay SCA for PSD 2 readiness).

I'll check whether we could provide some kind of smaller release to ensure Mage 2.3.2 compatibility.

[2019-07-18 06:41] #247 closed

[2019-07-18 13:32] mukki182 commented on #254
Hello Mr Bender,
do you have a temporary workaround for this issue?
Can i use the master branch for production system?
Best Regards

[2019-07-18 13:48] fjbender commented on #254
You can try to backport the patch from #252 that fixes this issue. Using the master in production is possible, but discouraged as it is not thoroughly tested (PRs get tested individually before merge, a full test is only conducted before a release).

[2019-07-21 21:15] Detzler opened #255 "Url call on /payone/transactionstatus returns 302 instead of 200"
After upgrading to Magento 2.3.2 and Payone 2.6.0 on every call from payone to magento (/payone/transactionstatus) the server returns code 302 instead of 200. This should explain why no payment confirmation is created in our magento instance.
No log entries available.
Manual ur call in browser on /payone/transactionstatus returns 200 with message: "Access denied". So the module (controller) is ava

[2019-07-22 05:49] fjbender commented on #255
We have issues with the CSRF validation in Mage 2.3.2, #252 has fixed this, but is not yet included in a release. Can you try Mage 2.3.2 with dev-master?

[2019-07-22 13:11] Detzler commented on #255
It works thx.

[2019-07-22 13:18] #255 closed

[2019-08-05 09:15] juules commented on #254
Hello,
we're still waiting for a release that includes these changes ... any updates on this topic?
Best regards

[2019-08-08 09:47] hreinberger commented on #254
Sadly, not yet. As @fjbender stated above we'd like to include the required changes for PSD2 directly into the next release.

[2019-08-16 16:16] Flyingmana commented on #255
please do a release which contains this fix

[2019-08-16 20:25] davidverholen commented on #254
@fjbender do you have (a rough) estimate when the psd2 work will be finished? Of course it's important but depending on how long it takes 2.3.2 compatibility becomes more important, too ;)

[2019-08-23 10:43] davidverholen opened #260 "psd/2 compliance release"
@fjbender just creating it for tracking updates on this topic.
Do you have a rough timeline for the release? Since we also need to start planning the updates and testing for all involved projects

[2019-08-23 10:47] hreinberger commented on #260
Hi @davidverholen we're aiming for a release next week. Would have loved to deploy this week but we still have some work to do on Amazon Pay.

By the way if you don't use Amazon Pay, you can configure the plugin for 3D Secure 2.0 right now: https://docs.payone.com/display/public/INT/Magento+2+Plugin#Magento2Plugin-EnsuringMaximumConversionWith3DSecure2.0

[2019-08-24 21:27] webpeaks63 commented on #253
I can confirm this issue too. Did you find a fix for this?

[2019-08-25 22:30] alexandergolz commented on #253
Sadly, no. Maybe I try to contact the support later this week.

[2019-08-26 07:50] fjbender commented on #254
We see the issue of a missing release as a pressing matter, both because of 2.3.2 and PSD2. We're still waiting on the latest changes for PSD2 compat and will then release asap.

[2019-08-26 11:21] hreinberger commented on #253
Hi all,
I can confirm this too, though the log details in the order are correct:
![grafik](https://user-images.githubusercontent.com/40197225/63687245-57349900-c804-11e9-9eb4-17cf95dd6bd8.png)
We'll check that out!

[2019-08-26 13:58] webpeaks63 commented on #253
After contacting payone support today, they confirmed the issue and forwarded it to their extension developer.

[2019-09-09 10:59] berwa commented on #254
Hello @fjbender,
as two more weeks have passed now: are there any news about this topic or a planned date for the release?

Best regards

[2019-09-09 11:04] fjbender commented on #254
Sorry for the delay, this is taking much longer than expected. We'll try to squeeze it in this week, but have another release scheduled as well, so it might take until the next.

[2019-09-09 13:04] andreasberenz commented on #260
Just a little push here. Are there any news?

[2019-09-09 13:06] fjbender commented on #260
See #254 and my comment there. We try to have a release this week, the next the latest. Everything was taking way longer than expected.

[2019-09-16 13:52] hreinberger commented on #191
fixed in 2.5.0

[2019-09-16 13:52] #191 closed

[2019-09-16 13:54] hreinberger commented on #260
Hi all,
we just published our update to v2.7.0, which fixes this! Thanks for your patience!

[2019-09-16 13:54] #260 closed

[2019-09-16 13:54] hreinberger commented on #254
Hi all,
we just published our update to v2.7.0, which fixes this! Thanks for your patience!

[2019-09-16 13:54] #254 closed

[2019-09-16 13:56] hreinberger commented on #70
this looks done to me. Feel free to open a fresh issue if you're still having problems.

[2019-09-16 13:56] #70 closed

[2019-09-16 13:59] hreinberger commented on #181
closing this due to non-activity. If this is still an issue, please re-open or create a new one.

[2019-09-16 13:59] #181 closed

[2019-09-16 14:02] hreinberger commented on #245
closing this due to non-activity. If this is still an issue, please re-open or create a new one.

[2019-09-16 14:02] #245 closed

[2019-09-16 14:04] hreinberger commented on #182
closing this due to non-activity. If this is still an issue, please re-open or create a new one.

[2019-09-16 14:04] #182 closed

[2019-09-16 14:05] hreinberger commented on #200
closing this due to non-activity. If this is still an issue, please re-open or create a new one.

[2019-09-16 14:05] #200 closed

[2019-09-16 14:05] hreinberger commented on #203
closing this due to non-activity. If this is still an issue, please re-open or create a new one.

[2019-09-16 14:05] #203 closed

[2019-10-22 06:28] dilipjha100 opened #266 "Suggestion: How can we remove shipping price tax based on the specific countries."
Hi, I want to remove the shipping tax from tax and grand total also based on the specific countries.
I have added below code in app/code/Payone/Core/Observer/CheckoutSubmitBefore.php

  $oShipping = $oQuote->getShippingAddress();
		/*Remove Shipping Tax other then EuropeanUnion*/
		$EuropeanUnion = array('BE','BG','CZ','DK','DE','EE','IE','EL','ES','FR','HR','IT','CY','LV','LT','LU','HU','MT','NL'

[2019-11-14 13:16] domeglic opened #267 "PHP 7.3 compatibility"
Supported php versions do not include 7.3.  `"php": "~5.5.0|~5.6.0|~7.0.0|~7.1.0|~7.2.0"`

Magento 2.3.3 now [supports](https://devdocs.magento.com/guides/v2.3/install-gde/system-requirements-tech.html#php) php 7.3.

[2019-11-14 13:19] fjbender commented on #267
Thanks for pointing this out. Created a PR, testing should be quick.

[2019-11-14 14:12] #267 closed

[2019-11-15 13:35] #253 closed

[2019-11-22 09:25] NilsHansen opened #269 "composer require with php7.3"
Hi,
in the closed issues it says that payone-magento2 now supports php7.3...
In my fresh magento2 install I used this command:
`composer require payone-gmbh/magento-2`
This gives me composer back:
`Package payone-gmbh/magento-2 at version  has a PHP requirement incompatible with your PHP version (7.3.12)`

If I force composer by using the parameter `--ignore-platform-reqs` it is getting installed.

[2019-11-22 09:28] fjbender commented on #269
Hi,

This is due to the fact that we haven't released a new version yet, see https://github.com/PAYONE-GmbH/magento-2/compare/v2.7.0...master

Once we have a version newer than v2.7.0, you should be fine again. In the meantime, you could work around that by installing the master branch `composer require payone-gmbh/magento-2 dev-master`, however, this might not be a smart idea for production deplo

[2019-11-22 09:51] NilsHansen commented on #269
Hi,

hm, okay... At production this should be no problem, as there is php7.2... This is just for our dev environment...

Thanks alot!

[2019-11-22 09:51] #269 closed

[2019-11-27 18:27] alexandergolz opened #270 "Wrong Status for Orders with only downloadable products"
I'm on Magento 2.3.3 and orders with only downloadable Products now get status "Processing" instead of "Closed" (which they did before this commit). But it should be "Complete". Your comment addresses this issue but was not included in this commit, am I right?

Regards

Alexander

_Originally posted by @alexandergolz in https://github.com/PAYONE-GmbH/magento-2/pull/263#issuecomment-559201767_

[2019-11-28 07:11] fjbender commented on #270
I wasn't the one working on this PR, but I suppose, the way we build it is intentional. QA shows that with the PR, the configured status mapping is respected equally for physical and virtual goods.

Can you share your status mapping configuration?

[2019-11-28 10:02] fjbender commented on #270
From the discussion in #263 (@webpeaks63):

I'm having a hard time figuring out what the right behavior is. We aim to make status transitions configurable and not hard code them into the logic, as different merchants have different requirements here. @webpeaks63 suggests, it should be hard coded for downloadable orders. This conflicts.

How would you handle it in the cased of mixed orders (i.e. on

[2019-11-28 10:40] webpeaks63 commented on #270
You may have a look at the core magento PayPal Express integration, where the order status does work perfect with virtual orders.

Only the Payone Extension is showing that issue.

Beside discussions how this could or should be fixed in your Payone M2 extension:

1. Physical orders are "complete" when they are shipped.

2. Virtual orders (downloadable goods, or gift cards etc.) are "complete" afte

[2019-11-28 11:47] fjbender commented on #270
This makes sense.

We'll update the behavior for virtual orders accordingly.

[2019-11-28 11:47] phoenix-bjoern opened #271 "mode wrong on refund"
When creating a refund from an invoice in the Magento backend the TX mode is set to "test" although the order has been placed in "live" mode. It seems the module retrieves the configuration from a wrong scope instead from the order which is currently processed.

[2019-11-28 11:57] fjbender commented on #271
In theory we should grab the mode from the order:

https://github.com/PAYONE-GmbH/magento-2/blob/11dea078744b5337393fe17289043d5b1e5356ba/Model/Api/Request/Debit.php#L143-L160

I can't spot anything wrong here - or maybe I am missing something?

[2019-11-28 13:46] phoenix-bjoern commented on #271
But `$oPayment->getOperationMode()` doesn't have any input parameter. And since you don't use store emulation in the function `setStoreCode()` this method doesn't know about the current store:

[code]

[2019-11-28 14:00] fjbender commented on #271
Ah, makes sense. We will get it fixed.

[2019-12-09 11:56] fjbender commented on #271
Can you confirm that #273 fixes this issue?

[2019-12-11 09:28] #271 closed

[2019-12-12 13:09] omargits commented on #193
Order emails not transmitted. I am using Magento 2.3.3 Payone module version 2.7.0
from
Protocol - TransactionStatus
its **appointed**  and then **paid** but still upto now no email. Magento cron is working fine.
on Server varnish 5.01. from above you said return url must be
**website.com/payone/transactionstatus**
returns **Access denied**
please guide us what to do

[2019-12-12 13:10] omargits opened #274 "Order Confirmation email not sent"
Order emails not transmitted. I am using Magento 2.3.3 Payone module version 2.7.0
from
Protocol - TransactionStatus
its appointed and then paid but still upto now no email. Magento cron is working fine.
on Server varnish 5.01. from above you said return url must be
website.com/payone/transactionstatus
returns Access denied
please guide us what to do

[2019-12-12 13:36] hreinberger commented on #193
Hi, so an Access Denied can occur for many reasons, mostly it's a faulty URL or some kind of webserver config issue. I think it'd be best if you contact our technical support team. You can find the full contact details here (in the right column): https://docs.payone.com/display/public/PLATFORM/Contact

[2019-12-12 13:42] omargits commented on #193
as technical guys from payone say its fine. payment status are changing from appointed to payed but still no email yet

[2019-12-12 13:47] hreinberger commented on #274
Like my last comment in #193 - I'd like to ask you to contact our support team so the people there can first analyze your individual configuration and afterwards file a ticket with us internally. This seems mostly like a config issue for me.

[2019-12-12 14:36] omargits commented on #274
Support check the settings and found ok but for emails issue they said cant guide about it. by the way if we choose other payment method credit card then emails are working any idea for debugging and checking where exactly the issue is

[2019-12-13 12:34] omargits commented on #274
any update ? @hreinberger  @gerritpechmann @fjbender With payone - paypal order email not triggers and for credit card 3d validation not working plz guide

[2019-12-17 14:11] jcglindemann opened #275 "$_SERVER["REMOTE_ADDR"] vs $_SERVER["HTTP_X_REAL_IP"]"
If you are in a cloud environment or use the varnish cache the
$_SERVER["REMOTE_ADDR"] will show mostly the local IP (127.0.0.1) and the $_SERVER["HTTP_X_REAL_IP"] will give the "real remote IP".
In this case the API from payone try to access https://www.domain.com/payone/transactionstatus
to give back the status, but this will fail because 127.0.0.1 is not in th list of allowed IPs.

So I suggest

[2019-12-18 08:46] #270 closed

[2020-01-03 10:21] hardiklinksture opened #277 "Issue with generating the order invoice"
We are using the Payone payment method extension with our existing Magento 1 live site and we have configured below payment method on our existing M1 website.

- POSTFINANCE CARD
- POSTFINANCE E-FINANCE
- PAYPAL
- KREDITKARTE

So, when we/customer will place the order on the existing M1 website then the order invoice is generated via CRON `payone_core_cronjob_transactionstatus_process`

Now we hav

[2020-01-03 10:24] fjbender commented on #277
For the invoice to be automatically generated, two things have to be given:
1. Mode must be set to authorization (preauthorization requires manual generation of the invoice)
2. The transaction status `appointed` must be received

Can you confirm that both are given for your staging environment? Especially when migrating, it might be neccessary to have a second payment portal on the Payone platform

[2020-01-03 11:39] hardiklinksture commented on #277
Yes, we have configured the Payone Payment method on the staging environment with test mode.

Please check the below three screenshot for more information and let us know your thoughts on that.

![3](https://user-images.githubusercontent.com/24790922/71721528-6d560400-2e4b-11ea-8998-b72e1fd8d1f0.png)

-----------------------------------------

![2](https://user-images.githubusercontent.com/2479092

[2020-01-03 13:46] fjbender commented on #277
Okay, I looked at the logs for this transaction.

You try to deliver the Transaction Status notification to the old URL of the Magento 1 shop. If you need assistance on how to change this (and about the possible risk for the currently running shop), please contact our technical support team, as this is not an issue with the Magento 2 plugin itself.

Thanks
Florian

[2020-01-03 13:46] #277 closed

[2020-01-06 06:35] danisowa opened #278 "window[c] is not a function error when switching to hosted iframe"
### Summary
If i use ajax script everything is working
<script src="https://secure.pay1.de/client-api/js/ajax.js"></script>
var request = new PayoneRequest(po_data, po_options);

When i change ajax script to hosted iframe script and change the call like it is described in documentation to:
<script type="text/javascript" src="https://secure.pay1.de/client-api/js/v1/payone_hosted_min.js"></script>
v

[2020-01-06 06:37] fjbender commented on #278
Hi,

which documentation are you referring to? Sounds like you're trying to implement the API on your own, and not use the Magento 2 module? This repository is for Magento 2 module issues only. If you're trying to implement the API, please contact the Technical Support Team.

Thanks
Florian

[2020-01-08 14:36] mageconsult commented on #193
There is a bug in Magento 2.3.3. sending emails with non-ascii values in sender name (umlauts, accents). Maybe it is a side effect, that this error occurs.

[2020-01-10 09:31] nilarocks opened #279 "paypal charge two time for same order."
We have some issue in paypal.
 user place order using payone paypal method. order successfully placed. But user charged two time for same order.

See below screenshot
![72141834-94678500-33b9-11ea-822c-79e9f092ccef](https://user-images.githubusercontent.com/14245197/72891985-7562de80-3d3b-11ea-8dd1-013f2efc7f97.png)

you can see Order is 97 euro but Total paid is 194 euro.

Also see PAYONE Protoko

[2020-01-10 14:01] hreinberger commented on #279
Hi @nilarocks
thanks for your feedback.
This looks like our platform sent the "paid" callback twice, which made the shop think the paid amount is doubled. This could happen due to performance issues while receiving the paid status or general internet hiccup. We'd love to further investigate this transaction though, so could you get in touch with our tech support at tech[dot]support[at]bspayone.com

[2020-01-15 17:42] schmengler opened #280 "Incorrect encoding in Model/Methods/OnlineBankTransfer/Eps.php"
This file is encoded in ISO-8859-1 and contains bytes that are not valid in UTF-8, e.g. in `Ärztebank`.

Instead of using `utf8_encode($sTitle)`, the file itself should be UTF-8 encoded.

In Magento 2.3.4, the incorrect encoding leads to the issue that integration tests cannot be executed anymore, when PHPUnit saves the state of all static properties but cannot serialize `static $aBankGroups`

[2020-01-16 08:10] fjbender commented on #280
Should be an easy fix.

[2020-01-16 10:43] #280 closed

[2020-01-16 10:45] fjbender commented on #280
Can you try running the integration tests again with the current `master` branch? :)

[2020-01-16 18:51] jlewko opened #283 "Payolution_Installment uses deprecated prototypeJS dependency"
Payolution_Installment uses deprecated **prototypeJS** dependency in it JS method-renderer file:
`magento-2/view/frontend/web/js/view/payment/method-renderer/payolution_installment-method.js`
This creates an issue while trying to select a different address from the list of available addresses in checkout's **Review & Payment** step.
With returned street address data it prints also a part of the **

[2020-01-17 06:53] fjbender commented on #283
Thanks for the well-documented issue and PR :) We'll take a look and test it. Does this affect all Magento versions?

[2020-01-17 07:24] jlewko commented on #283
It was tested on v2.3.2 but I guess it starts with Magento change regarding  concatenation of possible multiple street addresses data from this PR:
https://github.com/magento/magento2/commit/98e8ea7cd181e6e68fc5d1c7c67f723e6dedc159

[2020-01-17 07:25] fjbender commented on #283
All right, thanks! We'll then also check if this breaks 2.2 compatibility.

[2020-01-17 07:43] schmengler commented on #280
@fjbender Can confirm, it works on the master branch. Thank you!

[2020-01-21 08:12] ridesoft commented on #269
Hi, is possible to know which incompatibilities with version 7.3 there are?

We are in a really bad situation right now: we have in production php 7.3 and of course we don't want to install our extensions with `--ignore-platform-reqs` but on the other hand install the dev-mater version is not a good solution as well.

A temporary option could be to download the zip and install the module directly

[2020-01-21 08:17] fjbender commented on #269
There are currently no known incompatibilities with PHP 7.3.

We'll see that we squeeze in a new release some time soon, but we currently have a big pipeline of release tests :/

[2020-01-27 09:52] #283 closed

[2020-02-13 06:18] hardiklinksture opened #288 "translate issue"
Place an order via Creditcard and my store language is "De".

But on order email payment Text steel in English.
Check the below screenshot for the same.

![download](https://user-images.githubusercontent.com/24790922/74406805-9c9e5e80-4e56-11ea-8b67-a46714d2c8c8.png)

[2020-02-13 08:31] fjbender commented on #288
I suppose your block in the email template looks something like this:

[code]

In the `payment_html` variable the stuff from \Payone\Core\Block\Info\Creditcard::_prepareSpecificInformation gets inserted. The strings there are in a `__` wrapper, so should be translated. However, due to Magento, in this context the locale of the Default Store seems to be used.

You could either use another language

[2020-02-13 08:48] fjbender commented on #275
Sorry for getting back to you so late. I feel like this should already be handled with the "Proxy Mode" configuration option in `\Payone\Core\Helper\Environment::getRemoteIp`

[2020-02-13 11:13] hardiklinksture commented on #288
Yes my email template is the same as you provide like

`{{var payment_html|raw}}`

I check below file for the title it is ok as you describe The strings there are in a` __` wrapper,

/Payone/Core/Block/Info/Creditcard.php

![Screenshot from 2020-02-13 16-41-28](https://user-images.githubusercontent.com/24790922/74428832-c4ee8300-4e7f-11ea-9c95-bbfe4c487937.png)

Also, we have only one store which

[2020-02-18 08:43] fjbender commented on #288
Thanks for the feedback! In general, this seems more like a Magento issue to me. I'll try and find something out about this, but can't guarantee any success here.

If you find a solution by asking your Magento Expert of Least Distrust™ or the community, sharing it here would be greatly appreciated!

[2020-03-02 13:35] riconeitzel opened #293 "Long ReferenceNumber Prefix results in 1003: Reference Number faulty or missing"
If the referencenumber prefix (admin > stores > config > payone > general > global > referencenumber prefix) exceeds (a not yet defined number of) characters, the checkout process returns an error `1003: An error occurred while processing this transaction (wrong parameters)`

Test: set referencenumber prefix to "abcdefghijklmnopqrstuvwxyz" and try to checkout.

Possible fix: define and document th

[2020-03-02 13:41] fjbender commented on #293
The maximum length for reference is 20 (16 for Giropay)(https://docs.payone.com/display/public/PLATFORM/reference+-+definition). The maximum length of the prefix thus depends on the length of the Magento order number. Limiting it to 5 might be a good idea.

Any oppinion @T-Kuchel @hreinberger ?

[2020-03-02 13:44] riconeitzel commented on #293
It might help to add a clarifying comment "the max. length of the payment reference is 20 characters. depending on you order number pattern the length of you prefix varies between 0-10"

[2020-03-02 13:45] fjbender commented on #293
Seems like the easiest way. Should be in the Docs as well.

[2020-03-02 15:52] hreinberger commented on #293
I updated our docs with a warning: https://docs.payone.com/display/INT/Magento+2+Plugin#Magento2Plugin-Global

[2020-03-10 09:57] omargits commented on #208
@niclashoyer  can you please share ur findings where exactly was issue. bcz we having same kind of issue on our shop. In our case Appointed status is two time and also two invoices created one is with 0.00 and other with correct amount.

please do share your findings for this issue

thanks

[2020-03-10 10:06] niclashoyer commented on #208
@omargits

In our case it was an Observer on the order status that should trigger an order export after the order has been paid. This observer throwed an exception *after* the Payone extension answered. But in your case it might be different.

[2020-03-10 10:23] omargits commented on #208
@niclashoyer  any idea how we can debug this. this is start happing 3-4 days ago. and in between there is no new extension installed nor any customization etc

please guide us

[2020-03-10 10:25] omargits commented on #279
@hreinberger we having kind of same issue . Appointed status is double and because of that two invoices created one is with 0.00 and other is with normal amount.

if you found any solution specially if it on magento side any idea how to debug or catch the error please guide us
thanks

[2020-03-11 05:36] #274 closed

[2020-03-11 05:48] omargits opened #296 "Appointed status double and Double invoice"
@niclashoyer  @fjbender @hreinberger @FatchipRobert
When order placed by Payone Paypal always two invoices created one is with original amount and other for 0.00 amount also we having two Appointed Status.

This is start happening sudden from last week. where as in last two weeks we didn't change any thing in db or files. Server is very normal no load on server. very less users and not a heavy cat

[2020-03-11 07:44] fjbender commented on #296
Hi @omargits,

this looks weird and is most likely a configuration issue. Please contact the Technical Support stating your MID and any TXID of affected transactions. Please also make sure that in the portal configuration (PMI) the configured Transaction Status URL is correct.

[2020-03-13 14:28] ostukalovprovectus opened #298 "Multi-website Magento instance Base Currency / Display Currency issue"
We have a Magento instance that has multiple websites (multiple stores and store views).

When PayOne is configured, you can choose 2 options. Base Currency and Display Currency.
The base currency for Magento instance is EUR.

The problem is that for each website we have different Base Currencies. E.g. for the polish website - Base Currency is PLN, but for PayOne the base currency is always EUR.

[2020-03-17 07:00] fjbender commented on #298
Looking at the code, we grab the respective currency from the Quote:

https://github.com/PAYONE-GmbH/magento-2/blob/ef6f688ca5122dcb84937a7a9ede517c1d4e6f44/Helper/Api.php#L303-L316

Can you tell me the plugin and Magento version you're using? I'll then try to reproduce your issue.

[2020-03-17 08:30] ostukalovprovectus commented on #298
I think the concern is about  $sCurrency = $oQuote->getBaseCurrencyCode();

It takes it for the whole instance (default one), not per website. I can share screenshots, or provide information in a different form. Just let me know how can I contact you.

Magento CE 2.3.3  (the same was reproduced on 2.2.2)

[2020-03-17 10:45] fjbender commented on #298
Okay, as a non-Magento-person, I'd expect the Quote to give me the currency from the website it was created in, but that's just me. :)

How would the usual approach to this look? In that method, we don't really have a lot of context.

[2020-03-18 11:26] omargits commented on #296
@niclashoyer @fjbender @hreinberger @FatchipRobert we cross checked all are fine. Even server support double check the server specially at transaction time server resources are fully free also with not customers burden on server.

a week ago its was working fine. after that there is no change. We already write to support also they said plz contact the server. server say contact you guys kindly gui

[2020-03-18 11:46] ostukalovprovectus commented on #298
@fjbender,

Let me explain the issue.
https://docs.magento.com/m2/ce/user_guide/stores/websites-stores-views.html

In Magento default config we have base currency = EUR.
In every website (we have >5, each with different URLs), we have its own Base Currency set (which might be different to EUR).

But, in your extension, in settings we have only 2 options: Display Currency and Base currency - which

[2020-03-18 12:06] fjbender commented on #296
Can you provide me with a TXID of one affected transaction? I'd need to see exactly what is happening on our side.

[2020-03-18 12:08] omargits commented on #296
do i email u or is any way to DM you ?

[2020-03-18 12:11] fjbender commented on #298
All right, thanks for bearing with me.

I'd need to get Dev involved here to get an assessment. I'd propose to change the selection of the "Currency" config option to something like:
* Base Currency (Global)
* Base Currency (Website)
* Base Currency (Store View)
* Display Currency (Store View)

Does this make sense?

[2020-03-18 12:13] fjbender commented on #296
You can mail it to integrations@payone.com

[2020-03-18 12:20] omargits commented on #296
email send plz check and guide us dear.

[2020-03-18 12:28] fjbender commented on #296
Okay, that helped me a lot, thanks. For each of the transactions you listed, we have logged one retry, meaning that we resent the notification. However, I can't see what was the failed cause of the first try. I'll ask if we have that logged elsewhere.

[2020-03-18 13:31] omargits commented on #296
@fjbender Thanks dear will be really great if u help us with detail in this matter and try to solve this. this is start happening last week before it was working fine. Your efforts in this will be highly appreciated

[2020-03-18 13:33] fjbender commented on #296
Unfortunately, we do not retain previous responses, so I'd need more logs from your side. You'd need to add some logging to the Transaction Status processor. Ideally, you can tell me the runtime and response of transaction status queries from our platform to your shop. Our platform will retry the transaction status if either
a) the runtime exceeds 10 seconds
b) the response does not start with the

[2020-03-18 14:01] omargits commented on #296
@fjbender
I reply via email there i send u some transaction detail log plz have a look kind have a look there

[2020-03-18 19:11] ostukalovprovectus commented on #298
Yes

[2020-03-19 07:05] fjbender commented on #296
Thanks, so we can probably rule out the timeout option. Probably there is an invalid response to the first status while it still gets processed. From the logs you sent me I cannot see the actual response that was sent to our platform. Do you have a possibility to log the actual response?

Typical reasons for this type of error are
- Answering with a HTTP 302 instead of 200 (our platform does not f

[2020-03-19 08:18] fjbender commented on #298
I have created a ticket for Dev. Please allow some time for the initial assessment.

[2020-03-24 08:34] omargits commented on #296
can you guide us little how to catch and that u type of log u looking for how we can reproduce it.

[2020-03-24 08:42] fjbender commented on #296
I'd start by logging any of the return statements in `\Payone\Core\Controller\Transactionstatus\Index::handleTransactionStatus` with the respective `txid` obtained through `$this->getParam('txid');`.

If that didn't help, we'd need to go deeper to make sure the webserver doesn't write any messages before this controller does its job.

[2020-03-24 11:01] fjbender commented on #298
#302 should tackle this issue. I couldn't test it yet, but maybe you already have some suggestions

[2020-03-31 11:04] #293 closed

[2020-04-09 08:38] nilarocks opened #304 "why automatically Invoice generate for payment method credit card?"
we have issue when user paid order using creditcard-mastercard.
we have set status mapping  Transactionstatus-message:  APPOINTED and magento Status: Processing.
when order paid magento status show completed and invoice generated automatically.
PAYONE Protokoll - Status show Two Items
1. appointed
2. Paid

Is it issue from magento or module?

[2020-04-09 09:13] hreinberger commented on #304
Hi @nilarocks
this is actually by design. When using the authorization method "authorization" the cashflow will be triggered instantly. In this case you will receive the statuses "appointed" and "paid" shortly after each other. When an authorized payment receives "paid" our plugin will automatically set the order to completed and create an invoice. This is in line with german laws, where receiving

[2020-04-13 14:42] nilarocks commented on #304
Thank For reply
but its happen only for 2 orders, other orders are working fine. I mean order status show "Processing"

[2020-04-14 07:41] hreinberger commented on #304
hmmmmm in this case I'd also advise you get in touch with our tech support to have a look at the actual orders. I'd like our support staff to evaluate whether this may also be a configuration error. When you contact our support, please also provide a link to this issue, so our support people can get a full picture on this issue.

[2020-04-14 10:54] nilarocks commented on #304
where is contact your tech support? can you please give me link of tech support?

[2020-04-14 11:01] hreinberger commented on #304
Hi @nilarocks
just write them a mail at tech.support@payone.com :)

[2020-04-17 08:08] #102 closed

[2020-04-17 08:08] #103 closed

[2020-04-17 08:08] #138 closed

[2020-04-17 08:08] #153 closed

[2020-04-17 08:08] #150 closed

[2020-04-17 08:08] #161 closed

[2020-04-17 08:08] #205 closed

[2020-04-17 08:08] #213 closed

[2020-04-17 08:08] #223 closed

[2020-04-17 08:08] #226 closed

[2020-04-17 08:08] #266 closed

[2020-04-17 08:08] #278 closed

[2020-04-17 13:24] Wohlie opened #308 "Transaction status forward is not working since Magento 2.3.2"
Hi, we are using the transaction status forward logic of this module. This feature is currently broken. The problem is related to https://github.com/PAYONE-GmbH/magento-2/issues/248.

Since module version 2.7.0 (https://github.com/PAYONE-GmbH/magento-2/commit/0b2e165b72569c5966939aa909e04e81f52a9534) a new controller `payone/transactionstatus/decouple` is used with an own, currently not working, C

[2020-05-28 06:11] #308 closed

[2020-05-29 06:27] drabikowy commented on #288
I might have more info on this. Our client reported this issue to us. And I've tried to reproduce it first. Basically - I've received a properly translated email which was sent automatically when I placed an order. Then I resend the one form the admin panel - not translated.

[2020-06-01 11:32] adamkarnowka commented on #288
When sending e-mail from admin panel, locale context is taken from currently logged admin's locale, so quick win fix would be to use desired locale.
I have worked around this issue by patching `vendor/payone-gmbh/magento-2/Block/Info/Basic.php` and adding environment emulation class:

`$this->emulation->startEnvironmentEmulation($oOrder->getStoreId(), 'frontend');`

This way, while sending e-mail

[2020-06-02 12:00] Wohlie opened #316 "Forward of transaction status does not work properly"
Hi, we have updated the module from 2.6 to 2.8 for 2 months now. Since this update, we have repeating issues with the transaction status forward logic of the module. In some cases, the status is not forwarded to the defined URL.

I think the problem is the short connection timeout
https://github.com/PAYONE-GmbH/magento-2/blob/03e36665697d590434f873d4657da0dd6880ccab/Model/TransactionStatus/Forward

[2020-06-30 09:24] theCapypara opened #319 "License"
Hi,

it is unclear what the software license for this module is.
1. The repository does not contain a license file
2. The link in the README.md doesn't work
3. The composer.json states that the license is OSL 3.0 / AFL 3.0
4. The copyright headers of the files say the license is LGPLv3

Could you please clarify what the license for the module is?

[2020-06-30 09:34] fjbender commented on #319
Thanks for reaching out. We're currently somewhat "unharmonic" with our license zoo. We do have a strong preference towards MIT; however, have not yet migrated all projects towards it.

Currently, this project is licensed under LGPLv3, OSL 3.0, or AFL 3.0 at your option, as there is no clear statement available.

[2020-07-02 11:45] nilarocks opened #323 "Always magento status show pending instead of processing."
I have update my magento version 2.1.9 to 2.3.3.
After update we have some issue, all order status are set Pending instead of processing. Payment also successfully add.
After some debug i got, below url give 302 status code

https://siteurl/payone/onepage/redirect/

I also check in both. Live and test mode. both has same issue.

[2020-07-02 13:10] fjbender commented on #323
This should have been fixed with #216

Which version of the module are you running?

[2020-07-02 13:41] nilarocks commented on #323
module version is 2.8.1

[2020-07-02 13:46] fjbender commented on #323
Okay, then it seems like this is a individual issue that needs more analysis. Please contact our technical support team at tech.support@payone.com

Thanks

[2020-07-02 13:46] #323 closed

[2020-07-08 05:23] nilarocks opened #324 "How to remove PAYONE - Klarna method?"
I have checked in backend Store->Configuration->Payone->Payment, there is no any option to remove completely from payment section .

can you please tell how can we remove it?

[2020-07-08 06:57] fjbender commented on #324
Hi @nilarocks

which version of the plugin are you using? This is important for us because we have recently made changes to Klarna

[2020-07-08 07:13] nilarocks commented on #324
Latest 3.0.0
I have download from here
https://github.com/PAYONE-GmbH/magento-2/releases

[2020-07-08 07:32] fjbender commented on #324
Thanks

I could validate this as a bug. We will issue a fix asap.

[2020-07-09 06:49] fjbender commented on #324
We have a proposed fix with #325 which has been moved to QA now.

[2020-07-10 06:08] #324 closed

[2020-07-13 17:53] larsroettig opened #326 "Config : Removed Payment Codes Leads to Fatal"
If you use Magento `config.xml` with old or removed Payment code like `payone_billsafe` or `payone_klarna` it leads to fatal error in checkout with the following error:

### Config.xml reduced
[code]

### Error
[code]

[2020-07-14 12:41] fjbender commented on #326
Hi Lars,

I suppose this is due to the breaking changes we introduced in v3.0.0. Unfortunately, the removal of BillSafe was omitted in the Release Notes, which I now corrected.

I'd suggest adapting the `config.xml` in your project. Maybe Magento could handle this a bit more gracefully, but that would be an issue with Magento.

Best
Florian

[2020-07-14 12:41] #326 closed

[2020-07-20 10:16] berwa opened #329 "Amazon Pay as selectable payment-method in checkout"
Hello Payone-team,
on of our customers asked whether it is possible to add Amazon Pay to the list of available payment-methods in the Magento checkout (payment step), additionally to the already displayed buttons in the cart.

We already checked the documentation and could not get it working, so we are not really sure if that is a bug or not yet supported by the extension.

It seems like the Magen

[2020-07-20 10:50] T-Kuchel commented on #329
Hi @berwa ,

right now this is not support by our extension. We only have implemented amazon pay as an express payment method, so that this method is not shown in the payment page, only in the cart or mini-cart.

Greetings from Kiel
Timo

[2020-07-20 14:23] berwa commented on #329
Hello @T-Kuchel
thank you for your reply.

Are there any plans to integrate this features into the module in the future?

Best regards

[2020-07-21 07:06] T-Kuchel commented on #329
Hi @berwa ,

not for the moment, sorry.

Greeting from Kiel
Timo

[2020-07-21 16:48] larsroettig opened #330 "Not relevant anymore"

[2020-07-21 20:37] #330 closed

[2020-08-05 10:17] ewasser commented on #316
This is a real issue. Let me explain. The `100ms` includes the time for a DNS lookup and slow answering DNS services are more common than you think. Let me explain the details in the call:

1. The request starts and also the countdown starts.
2. `curl` tries to resolve the domain behind `$sUrl`.
3. The underlying OS (we're taking Linux as example) will ask the DNS with an timeout of `5s`. This is

[2020-08-05 10:44] fjbender commented on #316
Sorry, this issue somehow went by unnoticed.

The "asynchronous" part of the change mentioned above was intended to decouple the receiving of the notify message from our platform from the forwarding process. This had to be done since our platform works with a timeout of 10000ms, which could be reached before completion of all the forwarding, if there were more than a couple forwarding endpoints co

[2020-08-05 10:57] #316 closed

[2020-08-07 08:50] blanioo opened #333 "Additional cancelled order after successful payment using iDeal"
Steps to reproduce:

1. Go to checkout and select iDeal as a payment method
2. Click on place order button and get redirected to iDeal payment portal
3. Click 'back' button in a browser (right after payment portal page loaded)
4. Get redirected to first step of checkout - then complete order using iDeal
5. Success page appear with order ID
6. Go to Magento admin panel
7. There are 2 orders with th

[2020-08-10 07:04] T-Kuchel commented on #333
Hi @blanioo ,

the actual behavior you described is caused of the fact that we redirect to the ideal page and at this moment we had to persist the order. When there is occurring any problem (i.e. because the customer clicks on the back button), we cancel the order.
When the customer decides to check out again, we also persist a new order, and to prevent gaps in the ordernumber-range we do not dele

[2020-08-11 12:57] blanioo commented on #333
Hi @T-Kuchel ,

Thanks for explanation, but I think I found one thing about this functionality - when use "back" button and after this "forward" it results that cancelled order and second pending/processing has the same TXID

Steps to reproduce:

1. Go to checkout and select iDeal as a payment method
2. Click on place order button and get redirected to iDeal payment portal
3. Click 'back' button i

[2020-08-21 06:31] #298 closed

[2020-08-24 10:27] therealtbs opened #337 "Order cancellation using the browser's back button results in orders with twice the amount of items"
Installed versions:
- Magento 2.3.3
- Payone-Extension 2.8.0

Steps to reproduce:
1. Add some products to cart
2. open the store in a second tab
3. in the first tab, checkout, select any payment method which causes a redirect (e.g. PayPal) and get redirected
4. in the second tab, open the checkout
5. in the first tab, finish the transaction with PayPal

Expected behavior:
- there are two completel

[2020-08-24 10:43] T-Kuchel commented on #337
Hi @therealtbs ,

if the fix is really quite simple for this complex flow we will check that and come back to you.

Greetings from Kiel
Timo

[2020-08-28 06:55] rafalbedlewicz opened #339 "Endless loading when the card type is incorrect"
Steps to reproduce:

1. Go to checkout and select the credit card payment method;
2. Enter card number correctly but choose incorrect card type;
3. Fill out other required fields correctly and click the buy button.

Actual:

The error message is displayed, however, there is still loading overlay visible. The error in the console:

    payone_iframe_min.js?1598523914920:8 Uncaught DOMException: Fai

[2020-08-28 07:55] T-Kuchel commented on #339
Hi @rafalbedlewicz ,

which version of M2 are you using, and which version of the PAYONE integration?
I tried to reproduce it here, but your reported error/issue/behavior does not come up.
I only get the expected error message and then I can enter/select new credit card parameters. No overlay is in the way.

Greetings from Kiel
Timo

[2020-09-10 10:37] berwa opened #343 "Addresscheck - undefined index if non-covered country is used"
Hello Payone-team,
today we ran into an issue when address-check is enabled, but the address' country is not covered by the check:
When trying to complete the final checkout step with a billing-address in Switzerland and a shipping-address in Japan an empty alert-box is displayed and it is not possible to complete the checkout.

The following entry is added to Magento exception.log:
[code]

Enviro

[2020-09-10 11:30] rafalbedlewicz commented on #339
Hi @T-Kuchel

Magento ver. 2.3.2
and PAYONE integration version (I am not sure if I am checking it in the right way, please tell me if not):
`"`[`payone-gmbh/magento-2`](https://packagist.org/packages/payone-gmbh/magento-2)`": "`[`dev-master`](https://packagist.org/packages/payone-gmbh/magento-2)`"`

Greetings
Rafał

[2020-09-10 12:04] T-Kuchel commented on #339
Hi @rafalbedlewicz ,

weird. No problems here on the same version. Have you tried do update with composer to get a 'better' result?
Wich version of the extension is used. Actual it is 3.1.0.

Greetings from Kiel

[2020-09-10 15:06] juules opened #344 "Klarna Invoice - order with gift card not possible"
Hello Payone-team,
today we ran into an issue when a gift card is applied in checkout and the payment method is Klarna Invoice.
When trying to pay with Klarna Invoice in the final checkout step with a applied gift card an alert-box is displayed ("An error occured") and it is not possible to complete the checkout.

The following entry is added to Magento exception.log:
`Notice: Undefined index: aut

[2020-09-14 06:41] T-Kuchel commented on #344
Hello @juules ,

here we had to investigate, why this is occurs.
We will come back to you, when we have any finding or results.

Greetings from Kiel
Timo

[2020-09-15 11:37] hreinberger commented on #343
Hi @berwa
thanks for your thorough description. We'll look into this and come up with a fix.

[2020-09-23 07:16] piotrmatras opened #346 "SameSite cookie issue"
Hello team,
we are using Payone extension for Magento 2.3.5-p2.
We've spotted a strange issue, that some customers are redirecting to the cart instead of the success page while using iDEAL. There is a problem with SameSite cookie policy issue for Chrome and Safari with POST request.

[22/Sep/2020:21:26:22 +0200] "POST http://www.example.com/payone/onepage/returned/?incrementId=XXXXXXXX HTTP/1.1" 3

[2020-09-23 07:47] fjbender commented on #346
Thanks for the report! We have noticed issues with iDeal in various shop systems due to this bug, and we're working on this issue on the platform.

In the meantime, would using the CookieFix module work as a workaround?

[2020-09-23 08:12] piotrmatras commented on #346
@fjbender thank you for your comment.
Yes. We already applied the CookieFix. It works properly for Chrome, but the problem still occurs for Safari.
When you plan to fix this issue? It confusing the customers because they're receiving an order confirmation email, but see the empty cart page in the browser.

[2020-09-23 08:26] fjbender commented on #346
I understand the confusion for customers. Unfortunately, as this issue only came up very recently, there is no timeline yet.

[2020-09-28 09:25] juules commented on #344
Hello @T-Kuchel,
do you have any new information regarding this issue?

Best regards,
Julia

[2020-09-29 14:33] gthrn commented on #333
Related to this issue I am also experiencing strange behaviour with Ideal Payments.
I also get 2 Orders, which appears to be the expected behaviour as I read in the first answer.

But the Reference, that is passed by Payone, contains the first (canceled) Order-ID.
This leads to issues in matching payments to orders. Since we have an approved Order without a Payment reference, but a payed order whi

[2020-09-30 09:57] andreasberenz opened #348 "New behavior in Observer/TransactionStatus/Paid.php for advanced payment"
There is a new behavior in the mentioned file.

[code]

Is there a traceable discussion why it is necessary to create an invoice instant after the TransactionStatus paid is received? In our case the former behaviour is preferred, that there is no invoice created. As I can see, the invoice is not captured, too. So in fact we ran into the problem, that we tried to refund an order, but it was not pos

[2020-09-30 11:04] fjbender commented on #348
We do not have a traceable discussion, but I can explain why we did this.

There was an incompatibility with the Gift Card Accounts module from Magento Commerce, which resulted in Gift Card Accounts not being properly created when the Paid Status was received. The code change introduced in 174542c776d6ce82be6378cf20294dc50390aa9c fixed that.

I see multiple ways out of this:
1. We make this behavi

[2020-09-30 12:05] andreasberenz commented on #348
I would prefer solution 1 or we find a clever way as proposed in 3.

We don't have cases with gift cards, so I can't understand the details here.

Regarding the accounting here, it is a hard decission here to be forced to create an invoice in dependency of this payment method when your invoicing strategy is to wait until the order is fulfilled.

[2020-10-01 07:38] bjoern-flagbit opened #349 "Dynamic InvoicePositon for voucher in ProductInfo"
Instead of a `protected function addAmastyGiftcards` you could do a `public function` that ist just "static" to have the needed structure to add an voucher item. So for other developers it would be easy to add a plugin for other extensions like aheadworks giftcards or other giftcards modules.

After that you can also remove the object manager. See:
https://github.com/PAYONE-GmbH/magento-2/blob/95a

[2020-10-01 07:43] fjbender commented on #349
Thanks for the input! I'll discuss with dev.

[2020-10-01 12:36] bjoern-flagbit commented on #349
As Hotfix Solution I added an Plugin for `Payone\Core\Model\Api\Invoice`.

Maybe somebody else need this when he use aheadworks giftcard module and payone.

**So enjoy:**
[code]

[2020-10-01 14:29] fjbender commented on #344
For anyone wondering: Magento Gift Card behavior changed, and the amount of the gift card is not stored in the `authorized` but in the cleverly named `ba` property now. It can be quickly fixed by changing this in https://github.com/PAYONE-GmbH/magento-2/blob/95ac4e82d865934fff33d7a47107200ccba76f88/Model/Api/Invoice.php#L211

We're working on finding out if a backwards-compatible fix is possible.

[2020-10-06 07:52] #304 closed

[2020-11-03 07:20] fjbender commented on #348
Hi @andreasberenz ,

with #359 we built a config-wrapper around this behavior. I'd like your opinion on that :)

Thanks
Florian

[2020-11-03 07:24] fjbender commented on #344
Okay, seems like the issue only arises in Magento 2.3.5. 2.3.4 and 2.4.x seem fine.

We have provided a PR #360 that fixes this issue.

@juules can you confirm?

[2020-11-03 07:43] andreasberenz commented on #348
Thanks a lot. Looks like a good solution for me!

[2020-11-05 07:44] #329 closed

[2020-11-11 00:33] lastralab commented on #205
@chris-exu were you able to fix it?
I'm having the same problem, not sure how to avoid that exception.

[2020-11-11 10:15] #344 closed

[2020-11-16 08:53] niziou opened #365 "Safe Inovice method not creating the invoice and not sending new order confirmation email"
Hi
we have magento2 shop (2.3.5-p2) and Payone integration for m2 (3.2.0). Our QA just recently discovered that our web shop stopped sending order confirmation emails when customer is using the 'Safe invoice' payment method on test system.

The Safe invoice is set to 'Authorization' and 'test' mode.

1. The payment is 'Approved' by the API.
2. The payment is added to the Order object
3. The invoic

[2020-11-16 09:42] niziou commented on #365
I got in touch with support via email, they pointed me to the issue with wrong transactionstatus URL in the test system settings.

[2020-11-16 09:42] #365 closed

[2020-11-23 10:21] hreinberger commented on #343
fixed in #347

[2020-11-23 10:21] #343 closed

[2020-11-23 12:09] Parakoopa opened #366 "Debit requests that refund all items don't contain the discounts"
When refunding an invoice that contains discounts, the API request only contains the refund items, if NOT all products are refunded. This leads to the API error "1610 - An error occurred while processing this transaction (wrong parameters)."

Related line in code: https://github.com/PAYONE-GmbH/magento-2/blob/master/Model/Api/Request/Debit.php#L126

I talked with one of your technical support team

[2020-11-23 19:43] riconeitzel opened #367 "MAG2-96 doesn't fix existing config"
hi there,

if you have core_config_data entry with "store" instead of "stores" it's not fixed by MAG2-96. Instead the broken config stays in the DB and causes trouble later.

You should create a migration patch for it!

Rico

[2020-11-24 09:01] fjbender commented on #367
Just to clarify: This only happens when you're coming from a version before #229 respectively MAG2-96 was applied, right?

[2020-11-24 09:29] riconeitzel commented on #367
correct :-)

[2020-11-24 10:31] fjbender commented on #367
Mhhh, I'm not convinced that introducing a migration for a change that happened almost two years ago is a smart choice. I'm afraid we'd open up more questions than actually improve things.

What "trouble" exactly is caused under which circumstances? I kinda wanna determine how big of an impact this issue has.

[2020-11-24 11:07] riconeitzel commented on #367
our shops went down 😄

we deleted a website/store/store view … we looked for entries in core_config_data matching "stores" and the store view id. we removed everything.

Shops went down with "store not found" exception - incl. backend.

I figured out that there were entries for "store" and the store view id which we missed to delete.

SOME of them were already present with "stores" (they were save

[2020-11-24 11:55] fjbender commented on #367
All right, thanks for the detailed description. Then I indeed misjudged the impact of the issue. I'll move this to Dev.

[2020-11-24 15:43] andreasberenz commented on #296
We're facing the same (or a similar) issue here.
Transactions seemingly have timed out, but i monitored our server here and made the following observations:

there can be a gap between the preauthorization and the transactionstatus. In one example we have the preauthorization at 16:02. At 16:05 the request with the tansactionstatus came in. Both timestamps are logged in magento, as they occured.
T

[2020-11-24 15:54] fjbender commented on #296
We use this retry mechanism starting with a waiting period of one hour whenever we do not receive the response we need (a plain string "TSOK") within a timeout of 10 seconds. There are various reasons for this happening that we have observed in the wild. Most common issues include some rogue transaction status forwarding (though we tried to harden this in the latest versions), a database lock, or

[2020-11-24 16:09] andreasberenz commented on #296
I sent my examples to the mentioned mail. Thanks for your help.

[2020-11-25 10:25] #296 closed

[2020-11-26 13:04] hreinberger commented on #366
Hi @Parakoopa
I just tried this out in one of our test shops:

1. put 3 items in cart
2. apply coupon code
3. use PAYONE safe invoice (which is famously picky about cart data)
4. capture all items
5. refund only 2 items

This has worked as intended for me without errors. This behavior could come down to an individual configuration in your account. Could you once again contact our tech support with

[2020-11-26 13:10] Parakoopa commented on #366
Just to make sure: The issue occurs when refunding **all** items, have you tried that?

[2020-11-26 13:21] hreinberger commented on #366
oops sorry didn't read properly. 😅
I actually tried partial and full refunds in my tests though, so I still can't reproduce the error.

[2020-12-03 12:51] hreinberger commented on #333
Hi all,
browser-button usage during redirect payments can be really tricky due to the magento internals @T-Kuchel outlined above. When a customer uses the back button during a redirect checkout, the initial order is canceled and a new, identical one is created. When the customer then uses the forward-button again, he or she actually uses the same iDeal session for the checkout, which is why there

[2020-12-03 12:51] #333 closed

[2020-12-04 09:27] dmconnector opened #370 "Not installable on 2.4.1"
Hi,
when trying to install via composer
composer require payone-gmbh/magento-2
I get following error:
payone-gmbh/magento-2 v3.2.0 requires magento/framework ^100.0.0|^101.0.0|^102.0.0|^103.0.0 -> no matching package found.

[2020-12-04 10:48] fjbender commented on #370
Hi @dmconnector,

I just tried it out in a freshly installed Magento 2.4.1 and haven't had any problems. Is your Magento set up completely?

[2021-01-25 17:20] riconeitzel commented on #367
Any news here, before stalebot kills it?

[2021-01-26 07:35] fjbender commented on #367
This issue is still in our backlog. We still are somewhat hesitant to touch this, in order to not break any more production shops.

[2021-01-28 08:44] hreinberger commented on #366
closing this due to inactivity. If this is still ongoing, feel free to open a new issue.

[2021-01-28 08:44] #366 closed

[2021-02-12 09:33] a-litvin opened #373 "Problem with id[n] parameter"
Hi,

For order items with the custom options Magento joins a SKU of a product with an option name using ',' symbol between them. Then order item SKU is used in the transactional requests as an id[n] parameter. But using ',' in this parameter is forbidden: https://docs.payone.com/display/public/PLATFORM/id%5Bn%5D+-+definition.

Also id[n] parameter may be maxim 32 characters length, but in this cas

[2021-02-12 09:47] fjbender commented on #373
Good catch, thanks!

We'd probably need to work around that, as it is unlikely that the specification of the id[n] parameter on the API will change.

Would it work to just omit the ',' and cut the string off after 32 chars? That's of course not the optimal solution, but should serve well as a workaround so transactions don't break.

[2021-02-12 13:44] a-litvin commented on #373
Thank you for reply!

Yes, this's working fine. But we're waiting this fix in the future release ;-)

[2021-02-12 13:49] fjbender commented on #373
Will be fixed a future PR, will close this issue then

[2021-02-19 08:57] #373 closed

[2021-03-02 13:56] akislawek opened #375 "Magento (2.4.2) and Content Security Policy violations"
Hello Payone team!

I was wondering if you've already tested your extension with Magento v2.4.2? It seems that it's not compatible with the new Content Security Policy (or is it something I'm getting wrong?).

![payone and csp with magento 2 4 2](https://user-images.githubusercontent.com/46196591/109658906-674ed680-7b67-11eb-85d5-a82f465f0271.png)

[2021-03-02 14:26] fjbender commented on #375
Unfortunately, we have not yet taken CSPs into account.

The way I see it, it should be a good first step to add a `csp_whitelist.xml` file with approximately this content:

[code]

Can you try to add this file as `vendor/payone-gmbh/magento-2/etc/csp_whitelist.xml`, do the typical refreshes/rebuilds and see, if the errors disappear?

Also it seems like we'd need to whitelist inline scripts as des

[2021-03-03 10:04] #370 closed

[2021-03-04 12:21] fjbender commented on #337
Fixed with #340

[2021-03-04 12:21] #337 closed

[2021-04-07 09:26] akislawek commented on #375
Thanks for your feedback. I used the code you suggested, added a few more lines and it seems to work for now.

[2021-04-08 12:47] #375 closed

[2021-04-20 07:56] Crissov opened #378 "Readme dead link"
[www.payone.com/magento](https://www.payone.com/magento) results in a 404 HTTP error.

[2021-04-20 08:06] Crissov opened #379 "Support for Payment Request API"
You are offering an (unmaintained?) [extension for Magento 1](https://github.com/PAYONE-GmbH/mage1-payment-request) to support the [W3C Payment Request API](https://w3c.github.io/payment-request/) , but it is unclear to me from the [documentation](https://docs.payone.com/display/public/INT/Magento+2+Plugin) whether this is already supported natively by this Magento 2 plugin, or whether it is at le

[2021-04-20 12:11] #378 closed

[2021-04-20 12:12] hreinberger commented on #378
thx for the notice! We've migrated to our docs platform: https://docs.payone.com/x/WoAS

[2021-04-20 12:18] hreinberger commented on #379
Hi @Crissov

we don't yet support the Payment Request API in Magento 2. We produced the linked Mage 1 Repository as a proof of concept to test out the viability of the API. However, we found several regulatory constraints like the need to link to terms & conditions and data privacy statement on the checkout page, which were not yet fulfilled back then. Given the draft state of the payment request

[2021-04-20 12:20] #379 closed

[2021-04-22 12:50] carlosblackdd opened #381 "Wrong status"
Hi,

we have the problem, that this txid has the status: underpaid:
![image](https://user-images.githubusercontent.com/5381639/115716940-03cc7280-a37a-11eb-8301-b4f1d6d5c4e2.png)

The screenshot shows you that the last status is a paid-status. Can you have a look?

[2021-04-22 14:58] hreinberger commented on #381
Hi @carlos86

I was able to track down this txid in our logs. This seems to be an authorized prepayment that was paid in two parts, though I can't dive deeper into this. Our platform can be a bit particular about prepayment and authorizations, so I'd advise you to contact our technical support with this issue. Our colleagues can go deeper into the transaction analytics with you and can raise an is

[2021-04-26 15:15] carlos86 commented on #381
Hi @hreinberger,

thanks. I just forwarded it.

[2021-04-26 15:18] carlosblackdd opened #382 "Wrong total paid"
Hi,

we use prepayment as payment method.
In our case customers can use coupons. IF they use the coupon and the prepayment-method, we are getting a wrong total paid:
![image](https://user-images.githubusercontent.com/5381639/116107263-28468880-a6b3-11eb-82e5-f673684d80d2.png)
TXID: 518373600

Actually it adds the tax of the coupon. It only happens with prepayment.

Please have a look in your exten

[2021-05-19 05:23] riconeitzel commented on #367
Silvester Stalelone … 😅

[2021-06-10 06:37] Leone opened #384 "Redirect to shop after Sofort payment issue"
Hi,

We noticed that the redirect to the shop after the Sofort payment doesn't work.

- Module version: 3.2.0
- Magento version(s): 2.3.5-p2, 2.4.1, 2.4.2

**Reproduction path:**

1. Select the "PAYONE - SOFORT" payment method
2. Provide IBAN and BIC if necessary
3. Click on the "place order" button
4. You should be redirected to the https://www.sofort.com/payment/multipay page
5. Provide account

[2021-06-17 06:31] andreasberenz commented on #348
This is still not part of the official release, which is kind of annoying if you have to redeploy the vendor libraries.

[2021-06-17 06:46] fjbender commented on #348
@hreinberger - I can't unassign me for some reason, but this looks like something you could fix :)

[2021-06-17 06:47] andreasberenz opened #385 "Issue #348 is still not part of an official release"
After almost one year, I would expect, that this very important change is released.
Every time we need to redeploy the vendor files this "wrong bahaviour" in our case is deployed and we have to patch this.

https://github.com/PAYONE-GmbH/magento-2/commit/174542c776d6ce82be6378cf20294dc50390aa9c

The commit message says, that it "needs further testing" but it was still selected for the release. In

[2021-06-17 06:54] hreinberger commented on #348
We have a new release in the works, but are a bit tight on QA resources right now, so I can't give an exact ETA.

[2021-06-17 08:11] andreasberenz commented on #348
I understand the hesitation for releasing this. To introduce this change is another significant behavioral change. For me it would be fine to solve this, by enabling this option by default, so we can disable this setting after the update.
If this problem is exclusively ours, every other participant should be happy as well.

[2021-06-21 09:31] Leone commented on #384
Hi,

Any news on that?

[2021-07-07 08:37] Cloudy777 opened #387 "Payolution Invoice B2B Mode logged in acts as B2C Mode"
## Expected Behavior
As a logged in customer with an address which hasn't got a company field i want to see the birthday in the payolution invoice payment method in checkout.

## Current Behavior
The customer sees VAT ID (b2bmode)

## Possible Solution
In payone-gmbh/magento-2/view/frontend/web/js/view/payment/method-renderer/payolution_invoice-method.js the isB2bMode checks for the company field

[2021-07-07 09:46] Cloudy777 commented on #387
Problem was self made, the payolution template was overriden that there is no choice to adjust billing address.

[2021-07-07 09:46] #387 closed

[2021-07-16 14:51] TofexBroni opened #388 "Incomplete JSON in e-mail templates"
Hello,

there are two incomplete JSON data blocks leading to errors during variable parsing:
main.CRITICAL: Unable to unserialize value. Error: Syntax error {"exception":"[object] (InvalidArgumentException(code: 0): Unable to unserialize value. Error: Syntax error at /var/www/magento/releases/2021_07_15_16_19_47/vendor/magento/framework/Serialize/Serializer/Json.php:39)"} []

**Locations:**
- view

[2021-08-04 09:06] domeglic commented on #384
Same problem here. It appears to be only in test mode.

[2021-08-17 10:04] NilsHansen opened #390 "'Sequence No incorrect' after migration"
Hi all,
we have migrated our shop from magento1.9 to magento2.3.3 - after this process we cannot capture paypal orders. In the payone api log the error message is:

customermessage: Bei der Bearbeitung dieser Transaktion ist ein Fehler aufgetreten (Falsche Parameter).
errorcode: 907
errormessage: Sequence no incorrect
status: ERROR

The sequencenumber for this request is: 0 - Request: capture
In t

[2021-08-17 12:28] jvarelmann commented on #390
hello Nils,

the database struction is different between Magento 1 and 2  yes ,
the sequence number is used for the history of a booking like capture 1 = seq.No. 0  capture 2 =seqNo 1 debit =seqNo. 3 and so on.
all the seqNo. are stored by the booking. It look like the Payone Modul in the Magento 2 cannot see this datas
the only solution would be for the old bookings from the magento 1 shop to pro

[2021-08-17 12:35] NilsHansen commented on #390
Hi Juergen,
sorry - our problem is with new orders. Done by magento2 & the current payone module. The "old" orders are captured in the old system (Magento1) before migration.

[2021-08-17 12:47] jvarelmann commented on #390
Hi Nils

sorry for the miss understanding. The sequence Number will be changed by the webhook. did you change the URL from <SHOPURL>/index.php/payone_core/transactionStatus    to <SHOPURL>/index.php/payone/transactionstatus in the Payone Account ?

regards Juergen

[2021-08-17 13:09] NilsHansen commented on #390
Hi Juergen,
we fully installed magento2 blank, pulled the new module in via composer and then migrated our orders, customers and articles from magento1. So actually, its a new install of the module...

[2021-08-17 13:20] jvarelmann commented on #390
Hello Nils,

I would like to help you. There is no known issue that there are problems the sequence Number. To check everything I need to have some more informations. Please send me via mail your MID , and the transaction ID and Magento version and Plugin version so I can have a look in our system. please send it directly to juergen.varelmann@payone.com

regards Juergen

[2021-08-17 19:53] NilsHansen commented on #390
Hi all,
after changing the URL in the pmi from /index.php/payone_core/transactionStatus to /index.php/payone/transactionstatus the orders can now be captured!

Thanks to Juergen from Payone Tean

[2021-08-17 19:53] #390 closed

[2021-09-23 11:26] codebase-md opened #391 "Fehlerhaftes Mapping der Kreditkartentypen"
Hallo zusammen,

einer unserer Kunden hat uns gemeldet, dass unter den Zahlungsinformationen(in der Ansicht einer Bestellung) für Bestellungen die mit Kreditkarte getätigt wurden, der Kreditkartentyp nicht angezeigt wird. Nach kurzer Fehlersuche habe ich feststellen können, dass das Mapping nicht korrekt ausgeführt wird.

Bsp Visa Bestellung:

Die Api liefert als Kreditkartentyp ein 'V' zurück!
Im

[2021-09-24 08:20] carlosblackdd opened #393 "Vorkasse für die Schweiz: Adresse der Bank für die Einzahlung am Bankschalter in der Schweiz zwingend notwendig"
Bei der Zahlart Vorkasse erhalten wir standardmäßig die folgenden Parameter im Callback:

Accountholder:	XXXX
Accountnumber:	XXXXX
Bank code:	XXXXX
IBAN:	XXXXXX
BIC:	XXXXX
Bank:	UBS Switzerland AG
Payment reference:	XXXXX

Dies ist leider für die Schweiz unzureichend.
Die Adresse der Bank ist für die Zahlart in der Schweiz zwingend notwendig.

Leider erhalten wir derzeit mehrmals die Woche, dass K

[2021-09-27 14:19] #275 closed

[2021-09-27 14:20] #279 closed

[2021-09-27 14:20] #288 closed

[2021-09-27 14:20] #319 closed

[2021-09-27 14:21] #339 closed

[2021-09-27 14:21] #346 closed

[2021-09-27 14:21] #348 closed

[2021-09-27 14:22] #349 closed

[2021-09-27 14:22] #367 closed

[2021-09-27 14:22] #381 closed

[2021-09-27 14:22] #382 closed

[2021-09-28 14:46] riconeitzel opened #394 "LogFile Location is root /var/ instead of Magento ./var/"
https://github.com/PAYONE-GmbH/magento-2/blob/2b348b9954c9f1516793bd8ec1df8eecd8fabfa6/Model/Logger/ForwardingLogger.php#L34

If you try to create a log in /var/log instead of ./var/log you'll most probably get stuck with "permission denied" problems.

The log - in our case - wasn't written. In our managed environment (maxcluster) write access is not allowed to /var/log/!

[2021-09-28 14:47] berwa commented on #391
Hallo @codebase-md,
vielleicht vorneweg: ich kein Mitarbeiter von Payone, sondern auch nur ein Nutzer der Extension.
Wir hatten allerdings in einer Reihe unserer Projekte das selbe Problem (neben dem Backend u.a. auch in den E-Mails) und hatten dazu auch schon einen Pull-Rquest eingereicht (https://github.com/PAYONE-GmbH/magento-2/pull/368/files).
Dieser wurde damals auch bereits gemerged, leider

[2021-10-01 13:55] hreinberger commented on #385
unstaling this to investigate. We certainly need to fix this instead of keeping half-done code in here.

[2021-10-11 08:25] shoaibgits opened #397 "Double Invoice Created After Even paid order"
We have Payone with the Magento2 , the issue we are facing right now is, there are two automatically invoices generated after the successful payment for an order, and order is not in processing instead of complete or updating the current generating invoice it is creating a separate a new one,

This is the double invoice screenshot:
![image](https://user-images.githubusercontent.com/26060844/136757

[2021-10-12 12:16] DarekTw opened #398 "Issue with closed payment page, no redirection to the shop, results in cancel of the order"
Hello team,

We have noticed a strange behavior for Payone payments with redirection.
If the customer closes the payment page immediately after making the payment without returning to the shop success page, the order can be processed as usual.
The problem occurs when the customer returns to the shop some time later with the same session, then on the checkout page Payone module will close the last

[2021-10-14 12:39] hreinberger commented on #394
good catch, we'll deal with it!

[2021-10-14 12:44] hreinberger commented on #391
Hi zusammen,

das geplante Release hat sich aus Gründen™ immer weiter verzögert. Wir sind aber dran, hier demnächst eine neue Version zu releasen.

[2021-10-20 11:47] domeglic commented on #384
I wanted to confirm this since our test account was older than 2017 but support didn't reply yet. But sounds resonable.

[2021-10-21 06:34] domeglic commented on #384
Our account that failed before is now working after support changed it.

[2021-10-23 13:24] Detzler opened #404 "Klarna Invoice cartId error when logged in"
An error occurs when a logged in user clicks the Klarna Invoice button.

![Bildschirmfoto von 2021-10-23 15-10-34](https://user-images.githubusercontent.com/1556434/138557811-129a3246-e514-4195-938b-dec88f0a07bd.png)

Log entry:

`
Message: The current request does not expect the next parameters: cartId {"exception":"[object] (Exception(code: 0): Report ID: webapi-xxx; Message: The current request

[2021-11-04 12:58] Detzler commented on #404
Hello @hreinberger any news on this?

[2021-11-04 14:02] hreinberger commented on #404
We'll have a look, thanks for pinging me!

[2021-11-09 17:36] knigbur opened #407 "Payone Protect Boniversum Verita - gender and birthday are missing - consumerscore request"
# Issue:
* 'gender' and 'birthday' are mandatory to return creditranking scores other than U or R.
* our plugin version is 3.2.0.
* proterct is used in producting and functional but only return definetly red Scores and Rest 'unknows'
* boniversum support has confirmed that the G an Y Scores are only returned if request includes gender and birthday

according to: https://docs.payone.com/pages/relea

[2021-11-12 12:59] LB-Team-igniti opened #408 "Multi store admin orders"
Hello,

we are currently investigating some issues which are related to orders in general, including admin orders.
All the payment types of our client are PayOne only.
Two stores are affected, whereas the first store was there from the beginning and second store is a new one which was taken into the same system this year.

## assumption / question
Momentarilly we asume, that the PayOne Magento2 mo

[2021-12-06 15:24] #391 closed

[2021-12-06 15:25] #388 closed

[2021-12-06 15:26] #394 closed

[2021-12-06 15:27] #397 closed

[2021-12-23 17:59] netzkollektiv opened #416 "Missing field validation in request (id > 32 chars) leads to "wrong parameters""
If there is a product in the payment request having a SKU with length > 32 chars the API throws "1611 - Bei der Bearbeitung dieser Transaktion ist ein Fehler aufgetreten (Falsche Parameter).". Parameters should be validated and probably shortened by the API library to meet the API requirements.

Here is the example request assembled by the Payone module leading to this specific failure:

https://a

[2021-12-27 11:21] jvarelmann commented on #416
Hello,

thanks for the information I will pass it over to our developer

regards Juergen

[2022-01-04 11:48] jvarelmann commented on #416
Hello,

the error should be rolved in plugin version 3.3.0

regrads Juergen

[2022-01-04 13:31] netzkollektiv commented on #416
Thanks @jvarelmann for taking care of this - however, we are currently using payone-gmbh/magento-2 @ v3.2.0 and we are having the issue as described above.

[2022-01-04 13:32] netzkollektiv commented on #416
@jvarelmann Thanks, forget my last comment.

[2022-01-04 13:32] #416 closed

[2022-01-13 12:06] hreinberger commented on #408
Hi @LB-Team-igniti
sorry for the long response time. I've now gotten around to reproducing this issue. I created an additional Store View, setup different PAYONE merchant credentials for this store and made a backend order for this new store using PAYONE Invoice --> This worked for me

I'm not sure I understand what kind of IP Check you mean though? Are you using our own IP check located in our PM

[2022-01-17 11:54] LB-Team-igniti commented on #408
Hi Hannes, @hreinberger,

thank you.
If "PMi" means PayOne merchant center then yes else no.

In this case we gained, that the payment was assigned to the wrong merchant sub-account inside PayOne. We have verified this by:
2. We deactivated the IP-Check Security option inside PayOne merchant center in the first account - it was not possible to send an order for the second store (connected with sec

[2022-01-24 11:31] janteuber commented on #404
Hello,
we fixed that issue with https://github.com/PAYONE-GmbH/magento-2/pull/418
We will release our new plugin in the next days.

[2022-01-24 11:31] #404 closed

[2022-01-25 13:15] janteuber commented on #393
Wir haben den PR https://github.com/PAYONE-GmbH/magento-2/pull/410 soeben gemerged. Dieser wird dann im nächsten Release ausgerollt.

[2022-01-25 13:15] #393 closed

[2022-02-03 09:47] ersvltan opened #422 "Update composer.json version"
Hi,

We are having problems updating the module in our magento system.

![image](https://user-images.githubusercontent.com/29982255/152318682-62806be5-c59f-4589-94f8-31e13919c8a9.png)

Could you please update the version in composer.json?

Thank you!

[2022-02-03 14:09] janteuber commented on #422
Hallo @ersvltan ,
Thanks for your hint.

We released the 3.4.1: https://github.com/PAYONE-GmbH/magento-2/releases/tag/v3.4.1

[2022-02-03 14:09] #422 closed

[2022-02-07 14:23] janteuber commented on #407
Hello @knigbur,
Thank you for set up an issue.

We fixed that and already released it in 3.4.x.

Regards
Jan

[2022-02-07 14:23] #407 closed

[2022-02-07 14:29] janteuber commented on #398
Hello @DarekTw ,
Thank you for providing this topic.

I created an internal ticket to solve that problem.

[2022-02-08 08:09] janteuber commented on #398
Hello @DarekTw ,
could you update our plugin to 3.4.1 please. Our agency told me, that we already fixed that issue in our newest version.

[2022-02-08 08:09] #398 closed

[2022-03-01 08:51] mfickers opened #425 "CVC is not required, even if Check Card Validation Code is set to Yes"
We are using v3.3.0 of this extension in a Magento 2.4.2-p1, but I've also tested this with v3.4.1 and Magento 2.4.3. CVC validation is enabled. Unfortunately it is still possible to place an order using Payone credit card as payment method without supplying the card's CVC.

Validation works as expected as long as something is entered in the validation code field. Incorrect length or invalid chara

[2022-03-01 13:51] janteuber commented on #425
Hello @mfickers ,

Thank you very much for your message.

Did you notice this behavior in test or live mode?

In test mode, this behavior is wanted.

[2022-03-01 13:59] mfickers commented on #425
This behavior is the same for both modes. I've tested in live mode for v3.3.0 on Magento 2.4.2-p1 and in test mode for v3.4.1 on Magento 2.4.3.

Just to be clear, I'm not talking about the test mode accepting any three digit number as a valid validation code, but specifically an empty input field not resulting in an error.

[2022-03-02 19:24] torhoehn opened #426 "Placeholders aren't shown in Admin"
In the Admin it isn't possible to see possible placeholders for input fields, e. g.:
[code]
<img width="608" alt="Screenshot 2022-03-02 at 20 23 57" src="https://user-images.githubusercontent.com/1945725/156434027-941d3cb0-5330-402b-ae38-009be1617dde.png">

Installed Payone module version: 3.3.0
Magento version: 2.4.2-p1 with applied patches for MDVA-43395 and MDVA-43443

[2022-03-03 15:00] janteuber commented on #425
Hello @mfickers ,
I could reproduce your issue and created a ticket. We will provide a fix in our new plugin version (End of May 2022)

[2022-03-03 15:00] #425 closed

[2022-03-03 15:11] janteuber commented on #426
Hello @torhoehn ,
Can you please describe in more detail where exactly this field is, what exactly is not possible, what you expect? Where exactly is the added value for a merchant?

[2022-03-03 15:17] torhoehn commented on #426
@janteuber Sorry, but don't understand why I have to describe the value for the merchant. My code example is something out of this extension, so it's something you already wanted to show.

[2022-03-03 15:19] torhoehn commented on #425
@janteuber I think this issue shouldn't be closed until the fix is released, because the problem still exists. Personally I think End of May is really late for such a security relevant feature.

[2022-03-03 17:40] mfickers opened #428 "Creditcard cardholder is not saved for first entry"
When saving the credit card data for the first card of a user, the cardholder information will not be saved. When visiting the checkout afterwards, there will be a blank space where the cardholder's name should appear.

This does not occur on additional saved cards.

See attached screenshot, the first card has the name of the cardholder missing, while it is displayed for the second card:

![Bildsc

[2022-03-04 09:31] janteuber commented on #428
Hello @mfickers ,
Thank you very much for providing us the PR.
We will test and check the PR. After that, I'll be happy to give you feedback from our developers. Until then I would leave the issue open.

[2022-03-10 10:06] janteuber commented on #426
Hello @torhoehn ,
As mentioned above, I need your specification on this issue. Thank you very much.

[2022-03-10 10:16] torhoehn commented on #426
@torhoehn The placeholder should be displayed in the admin (see comment under the textarea), otherwise it's not possible to configure the module properly, because the possible placeholders aren't known.

[2022-03-10 11:25] shoaibgits opened #430 "Double Invoice Creating for the Paid Order with Credeit Card payment"
We are running Magento 2.4.2 and with the latest version of Payone-Magento2 Extension, Previously we faced the same issue where multiple invoices were creating for a single order based on the Response back from Payone API, but we have still noticed and it happening in case of credit card payment , where order first get payed and then again it goes in pending state.

Please check the following scre

[2022-03-10 12:05] janteuber commented on #430
Hello @shoaibgits ,
Please write this in an email, please mention the merchant ID of the merchant and send it tech.support@payone.com. The colleagues need to take a close look at the order here. I am pretty sure that there is no general error in the Magento plugin.

[2022-03-10 12:05] #430 closed

[2022-03-18 09:23] torhoehn opened #434 "Birthday is not validated correctly"
While using PAYONE - Paysafe Pay Later™ Invoice we discovered that the birthday is not validated correctly.

The validation is implemented here: https://github.com/PAYONE-GmbH/magento-2/blob/master/view/frontend/web/js/view/payment/method-renderer/base.js#L106

E.g. it returns `true` for the following input:
`isBirthdayValid('32', '13', '75');`